.HiringPreviewEditorPage {
}

.Container {
  padding: 2.625rem 0 !important;
  display: flex;
}

.LeftSide {
  width: 362px;
  display: flex;
  flex-direction: column;
}

.LeftSide > * + * {
  margin-top: 30px;
}
.RightSide {
  flex: 1;
  margin-left: 30px;
}
