.NavbarSectionLayout {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 10000;
}

.topbar {
  margin: 0 auto;

  &,
  > * {
    // border: 1px solid black;
  }

  &__dropdown-button {
    font-size: 1.35rem;
  }

  &__logo-link {
    width: 106px;
  }

  &__logo {
    width: 100%;
  }

  &__currency {
    width: 53px;
    right: 7px;
    position: relative;
    top: 0.3rem;
  }

  &__search-sm {
    margin: 0 0.81rem;
  }
}

.hero {
  height: 150px;
  background: url("/assets/img/hero-background.jpg") center black;

  &__container {
    padding-top: 0.75rem;
    width: 90%;
    height: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
  }

  &__steps {
    list-style: none;
    display: flex;
    justify-content: space-between;

    &-item {
    }

    &-image {
      margin-bottom: 0.5rem;
    }

    &-text {
      color: white;
      font-size: 10px;
      line-height: 14px;
    }
  }
}
