@import "../../../theme";

.NavbarSectionLayout {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 10000;

  &.hidden-hero {
    top: 0;
  }
}

.top-bar {
  margin: 0 auto;

  &__dropdown-button {
    font-size: 1.35rem;
  }

  &__logo-link {
    display: inline-block;
    width: 106px;
  }

  &__logo {
    width: 100%;
  }

  &__currency {
    width: 53px;
    right: 7px;
    position: relative;
    top: 0.3rem;
  }

  &__search-sm {
    margin: 0 0.81rem;
  }

  .dropdown {
    background-color: white;
    padding: 0;

    &-menu {
      padding: 0;
      z-index: 99999;
    }

    .dropdown-item {
      padding: 10px;
      border-bottom: solid 1px #ccc;
    }

    .dropdown-toggle::after {
      color: $dark !important;
      display: none;
    }
    .btn-outline-dark:hover {
      background-color: white !important;
      color: $dark !important;
    }

    &:active,
    &:hover {
      background-color: white !important;
      i {
        color: $dark !important;
      }
    }

    position: relative;
    top: 3px;
    height: 42px;
    font-size: 20px;
  }
}
