.InputFieldElements {
  // margin-top: 16px;
  display: flex;
  flex-flow: column;
  // height: 220px;
}

.VideoDeliveryFormHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  margin-top: 1rem;
  h3 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 0;
  }
  span {
    flex-shrink: 0;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin-top: auto;
  }
}

.SkeletonSubmitButton {
  margin-top: 38px;
}
