.CommentContractWrapper {
  width: 358px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
}
.CommentContractHeader {
  display: flex;
  align-items: center;
  height: 56px;

  border-bottom: 1px solid #f5f5f5;

  p {
    margin: 0 0 0 26px;
    padding: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
}

.CommentBox {
  display: flex;
  align-items: center;
  margin: 1rem 0.5625rem 0.625rem 0.5625rem;
  padding: 12px 0px 10px 8px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: rgba(249, 249, 255, 1);
}

.SubmitComment {
  padding: 0 !important;
  margin: 0 0 0 auto !important;
  color: rgba(61, 135, 243, 0.5);
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.CommentTextArea {
  margin-left: 18px;
  background: transparent;
  border: none;
  font-size: 12px;
  resize: none;
  height: fit-content;
}

.UserImgProfile {
  border-radius: 50%;
}
