.LabelForm {
  font-weight: "lighter";
  color: #838383;
  margin-top: 1rem;
  &:first-child {
    margin-top: 0rem;
  }
}

.InputElement {
  height: 56px !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  border-radius: 0.25rem;
  &:focus {
    border-color: #80bdff;
    outline: 0;
  }
}

.SubmitButton {
  width: 100%;
  height: 45px;
  margin-top: 1rem;
  font-weight: bold;
}
.FieldRow {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
}

.CheckoutFormWrapper {
  padding: 1.5rem 1rem;
}

.LabelSection {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
