.SearchResults {
  padding-bottom: 70px !important;
}

.ContainerSidebarIsOpen {
  width: 830px !important;
  margin-left: 30px;

  @media only screen and (min-width: 1920px) {
    width: 819px !important;
  }
}

.PaginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
