.ContainerSidebarIsOpen {
  transition: all 0.5s;
  width: 830px !important;
  margin-left: 30px;

  @media only screen and (min-width: 1920px) {
    width: 1134px !important;
  }
}

.PaginationContainer {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
}
