.StripeCardForm {
  button.btn-primary {
    margin-top: 1rem;
    width: 361px !important;
    height: 45px;
    color: #fb177d !important;
    span {
      color: white;
      font-weight: bold;
    }
  }

  .label-stripe-form {
    color: #838383;
  }
  .input-stripe-form {
    height: 56px !important;
  }
}
.__PrivateStripeElement-input {
  height: 56px !important;
}
