.StripeCardForm {
  button.btn-primary {
    margin-top: 1rem;
    width: 100% !important;
    border-radius: 10px;
    height: 45px;
    span {
      color: white !important;
      font-weight: bold;
    }
  }

  .label-stripe-form {
    color: #838383;
  }
  .input-stripe-form {
    height: 56px !important;
  }
}
.__PrivateStripeElement-input {
  height: 56px !important;
}
