.InputFieldElements {
  margin-top: 16px;
  margin-bottom: 46px;
  display: flex;
  flex-flow: column;
  height: 220px;
}

.VideoDeliveryFormHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  span {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

    margin-top: auto;
  }
}
