@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.projects {
  padding: 2.5rem 0;

  &-header {
    text-align: center;
  }

  &-title {
    font-weight: bold;
  }

  &-divider {
    @include underline();
  }

  &-grid {
    display: grid;
    width: 100%;
    gap: 1rem;
  }
}

.project-card {
  position: relative;
  min-height: 12.5rem;
  max-height: 21.9rem;
  border-radius: .62rem;
  overflow: hidden;
  cursor: pointer;
  @include display-flex(center);
  flex-direction: column;
  box-shadow: $box-shadow-elevated rgba($highlight-color, .1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: $box-shadow-elevated rgba($highlight-color, .3);

    .project-card-image {
      opacity: 0;
    }

    .project-card-details {
      top: 5%;
      opacity: 1;
      z-index: 2;
    }

    .project-footer {
      bottom: 15%;
      opacity: 1;
      z-index: 2;
    }
  }

  &-details {
    top: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    transition: .3s;
  }

  &-job {
    margin: 0;
    @include text(1.125rem, 600);
  }

  &-position {
    @include text(1rem, 500);
  }

  &-date {
    margin: 0;
    @include text(1rem, lighter, normal, $highlight-color);
  }

  &-image {
    width: 80%;
    height: 100%;
    position: absolute;
    background-size: cover;
    transition: opacity 0.5s ease;
  }
}

.project-footer {
  width: 12.5rem;
  padding: .62rem;
  bottom: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  border-radius: .37rem;
  background: $highlight-color;
  color: white;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.project-description {
  margin: 1.8rem 0;

  &-head {
    margin-bottom: 1.25rem;
    text-align: center;
  }

  &-title {
    font-weight: bold;
    margin: 0;
    color: $highlight-color;

    &--lighter {
      @include text(1rem);
      color: $text-primary-color;
      font-weight: 300;        
    }
  }

  &-content {
    @include text(1rem);
    text-align: justify;
    color: $text-primary-color;
    white-space: pre-line;
    
    &::after {
      content: '';
      white-space: pre;
      display: block;
      margin-bottom: 1rem;
    }
  }

  &-footer {
    @include text(1rem, 600);

    &--lighter { 
      font-weight: 300;        
    }
  }
}


@include tablet {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);    
  }

  .project-description-title--lighter,
  .project-description-content,
  .project-description-footer,
  .project-card-position,
  .project-card-date {
    font-size: 1.125rem;
  }

  .project-card-job {
    font-size: 1.25rem;
  }
}

@include desktop {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);    
  }

  .project-description-title--lighter,
  .project-description-content,
  .project-description-footer,
  .project-card-position,
  .project-card-date {
    font-size: 1.25rem;
  }

  .project-card-job {
    font-size: 1.3rem;
  }
}
