@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.projects {
  width: 100%;

  &-title {
    font-weight: bold;
  }

  &-divider {
    @include underline();
  }

  &-list {
    @include display-flex(center);
    flex-direction: column;
    gap: 2rem;
  }
}

.project {
  border-bottom: 1px solid rgba($text-secondary-color, .4);
  @include display-flex(center);
  flex-direction: column;
  gap: 2rem;

  &:last-child {
    border: none
  }

  &-details {
    @include display-flex(center);
    flex-direction: column;
  }

  &-job {
    margin: 0;
    @include text(1.125rem, 600);
  }

  &-position {
    @include text(1rem, 500);
  }

  &-date {
    margin: 0;
    @include text(1rem, 300, normal, $highlight-color);
  }
}

.project-banner {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 1rem;

  &-image {
    border-radius: 1rem;
    filter: drop-shadow(0px 4px 6px rgba($text-secondary-color, 0.3));
  }
}

.project-description {
  margin: 1.3rem 0;

  &-content {
    @include text(1rem);
    text-align: justify;
    white-space: pre-line;
    color: $text-primary-color;
    
    &::after {
      content: '';
      display: block;
      white-space: pre;
      margin-bottom: 1rem;
    }
  }

  &-footer {
    @include text(1rem, 600);
  
    &--lighter { 
      font-weight: 300;        
    }
  }
}

@include tablet {
  .projects-content {
    gap: 4rem;
    margin-top: 4rem;
  }

  .project-banner {
    max-height: 28rem;
    aspect-ratio: 4 / 5;
  }

  .project-description-content,
  .project-description-footer,
  .project-position,
  .project-date {
    font-size: 1.125rem;
  }

  .project-job {
    font-size: 1.25rem;
  }
}

@include desktop {
  .projects {
    padding: 2rem 0;
  }

  .projects-content {
    gap: 8rem;
  }

  .project-description-content,
  .project-description-footer,
  .project-position,
  .project-date {
    font-size: 1.25rem;
  }

  .project-job {
    font-size: 1.3rem;
  }

  .project {
    gap: 4rem;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, .9fr); 

    &-details {
      align-items: flex-start;
    }

    &:nth-child(1),
    &:nth-child(3)  {
      .project-banner {
        flex: 1;
        order: 2;
      }
    
      .project-details {
        flex: 0;
        order: 1;
      }
    }
  }
}
