.CelebrityDetails {
  &Header {
    margin-bottom: 42px;
  }
  &Title {
    padding: 1rem 0 1.375rem;
    display: flex;
    align-items: center;

    h1 {
      flex: 1;
    }
    i {
      font-size: 1.15em;
      margin-right: 18px;
    }
  }

  &Like {
    fill: none;
    height: 18px !important;
    width: 21px !important;

    path {
      stroke: var(--dark);
    }
  }

  &AvatarContainer {
    display: flex;
    margin-bottom: 36px;
  }

  &Avatar {
    border-radius: 50%;
    margin-right: 84px;
    overflow: hidden;
  }

  &Description {
    font-size: 14px;
    width: 550px;
    // height: 72px;
    // max-height: 190px;
    overflow: scroll;
    margin-bottom: 36px;
    color: var(--gray-4);
  }
}
