.CelebrityDetailsHeader {
  margin-bottom: 42px;
}

.CelebrityDetailsTitle {
  padding: 1rem 0 1.375rem;
  display: flex;
  align-items: center;
}

.CelebrityDetailsTitle h1 {
  flex: 1;
}

.CelebrityDetailsTitle i {
  font-size: 1.15em;
  margin-right: 18px;
}

.CelebrityDetailsLike {
  fill: none;
  height: 18px !important;
  width: 21px !important;
}

.CelebrityDetailsLike path {
  stroke: var(--dark);
}

.CelebrityDetailsAvatarContainer {
  display: flex;
  margin-bottom: 36px;
}

.CelebrityDetailsMainVideo {
  margin-right: 84px;
}

.CelebrityDetailsDescription {
  font-size: 14px;
  line-height: 24px;
  width: 550px;
  overflow: scroll;
  margin-bottom: 36px;
  color: var(--gray-4);
}

.CelebrityDetailsDonorAlert {
  margin-bottom: 36px;
}
