.ActiveBenefitsCounter {
  color: white;
  background: #e20036;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 13px;
  width: 1.5em;
  height: 1.5em;
  line-height: 1;
  font-weight: bold;
}
