.Stripe3dSecureResponse {
  .section {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
  }

  .div-error-message {

  }
}
