.container-celebrities-profile-description {
  display: flex;
  flex-flow: column;
  &__expand {
    max-height: none;
  }

  &__collapse {
    min-height: 4.5rem;
    display: block;
    visibility: visible;
    overflow: hidden;
    &.collapse:not(.show) {
      height: 4.5rem;
      display: block;
    }
  }
  &__toggle-description {
    margin: 0 auto;
  }

  &__toggle-button {
    font-size: 20px;
    background-color: transparent !important;
    border: none !important;
    &:active {
      box-shadow: none !important;
    }
  }
  &__text-span {
    line-height: 1.6rem;
  }
}
