@import "../../../styles.scss";

.WebPageListLinks{
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: space-between;
    margin: 0px;
    li {
        color:var(--gray-3);
        font-size: 12px;
    }
}