.LoadingPage {
  .height100vh {
    height: 100vh;
  }

  .loading-container {
    width: 100%;
    text-align: center;
    opacity: 1;
    display: block;
    transition-property: opacity, display;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* margin-top: 50vh; */
    bottom: 0;
    right: 0;
    height: 104px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.off {
      opacity: 0;
    }

    @keyframes slide {
      0% {
        top: 0;
      }
      100% {
        top: 10px;
      }
    }

    .stage {
      position: relative;
    }


    .stage img {
      animation-name: slide;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-delay: .2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    img {
      position: relative;
      margin-right: 20px;
      width: 100px;
    }


    .box {
      background: #2db34a;
      border-radius: 6px;
      height: 95px;
      transition-property: background;
      transition-duration: 1s;
      transition-timing-function: linear;
      width: 95px;
    }

    .box:hover {
      background: #ff7b29;
    }

    h5 {
      margin-top: 0px;
      font-weight: bold;
      font-size: 23px;
    }

  }
}
