@import "../../../theme";

.DropdownMenuLayout {
  &__dropdown-button {
    font-size: 1.35rem;
    margin-top: 0.5rem;
    &:focus {
      box-shadow: none;
    }
  }

  &.dropdown {
    left: -1px;
    padding: 0;
    position: relative;
    width: 18rem;

    &.dropdown-menu-is-open {
      z-index: 99999;
      background-color: white;
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      border-left: 1px solid rgba(0, 0, 0, 0.15);
    }

    .dropdown-menu {
      overflow: hidden;
      padding: 0;
      margin: 0;
      border-radius: 0 0 10px 0;
      left: -1px !important;
      min-width: 18rem !important;

      @media only screen and (min-width: 576px) {
        left: -1px !important;
        border-radius: 0 0 10px 10px;
      }
    }

    .dropdown-item {
      padding: 1.25rem 2rem 1.25rem 3rem;
      font-size: 0.875rem;
      border-bottom: solid 1px #ccc;
      font-weight: bold;
    }

    .dropdown-toggle::after {
      color: $dark !important;
      display: none;
    }
    .btn-outline-dark:hover {
      background-color: white !important;
      color: $dark !important;
    }
  }
}
