<a href="/{{DATA_USERNAME}}" title="Ver a {{DATA_FULLNAME}}">
	<div class="celebrities__card">
		<img
			class="celebrities__card__image"
			src="https://dqb0851cl2gjs.cloudfront.net/celebrities/{{DATA_ID}}/avatar/famosos-videos-personalizados-{{DATA_USERNAME}}-compressed.jpg"
			alt="{{DATA_FULLNAME}}"
		/>
		<div class="celebrities__card__content">
			<p class="celebrity__card__info">
				<span class="celebrity__card__category text-with-ellipsis">{{DATA_CATEGORY}}</span
				><img
					class="celebrity__card__country"
					src="https://flagcdn.com/16x12/{{DATA_FLAG}}.png"
					alt="{{DATA_NATIONALITY}}"
				/>
			</p>
			<h4 class="celebrity__card__fullname text-with-ellipsis">{{DATA_FULLNAME}}</h4>
			<p class="celebrity__card__hashtags text-with-ellipsis">{{DATA_HASHTAGS}}</p>
		</div>
	</div>
</a>
