<li class="videos__list-item">
	<video
		class="videos__list-item__video"
		src="https://d3dxo4xx2lwk55.cloudfront.net/videos/{{DATA_CELEBRITY_ID}}/{{DATA_USER_ID}}/famosos-videos-personalizados-{{DATA_CELEBRITY_NAME}}-{{DATA_CONTRACT_REFERENCE}}-crf-video-watermark480.mp4"
		controls
		playsinline
		preload="none"
		poster="https://d3dxo4xx2lwk55.cloudfront.net/videos/{{DATA_CELEBRITY_ID}}/{{DATA_USER_ID}}/famosos-videos-personalizados-{{DATA_CELEBRITY_NAME}}-{{DATA_CONTRACT_REFERENCE}}-crf-video-poster480.jpg"
	/>
</li>
