.CardIcon {
  margin-left: 20px;
  margin-right: 16px;
}
.LabelForm {
  font-weight: lighter;
  color: black;
  margin-top: 1rem;
  &:first-child {
    margin-top: 0rem;
  }
}
.CheckIcon {
  margin-left: auto;
  margin-right: 17px;
}
