.FanClubAdvertise {
  min-height: 63px;
  border-radius: 7px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  font-size: 14px;
  text-align: center;

  @media only screen and (min-width: 768px) {
    padding: 12px 34px;
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.FanClubAdvertiseCopy {
  @media only screen and (min-width: 768px) {
    max-width: 200px;
    margin-bottom: 0;
  }
}

.FanClubAdvertiseLink {
  margin-left: auto;
}

.FanClubAdvertise .FanClubAdvertiseButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 0;
  color: var(--secondary);
  border-color: var(--secondary);
  border-width: 1px;
  font-size: 14px;
  min-height: 40px;

  @media only screen and (min-width: 768px) {
    min-height: 32px;
  }
}

.FanClubAdvertise .FanClubAdvertiseButton:hover {
  background: var(--secondary);
  color: white;
}
