.CelebrityInfo {
  display: flex;

  &Item,
  &ItemWithSeparator {
    font-size: 14px;
    color: var(--gray-4);

    * {
      color: var(--gray-4);
    }
  }

  &ItemWithSeparator {
    padding-right: 1rem;
    border-right: 1px solid #9d9d9d;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }

  &Flag {
    margin-right: 14px;
  }

  &Category:hover {
    color: var(--dark) !important;
  }
}
