.ResultsCardGrid {
  display: grid;
  gap: 26px 24px;
  grid-template-columns: repeat(4, 1fr);

  > * {
    min-width: 0; // Para asegurar que los cards tengan el ancho correcto de la grid.
  }
}

.ResultsCardGridExpanded {
  grid-template-columns: repeat(5, 1fr);

  @media only screen and (max-width: 767px) {
    gap: 1.125rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 451px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
