.LastReviewsSection > h2 {
  margin-bottom: 29px;
}

.ReviewsCards {
  @media only screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div:nth-child(3) {
      display: none;
    }
  }
}

.ReviewsCards > div + div {
  margin-top: 1.25rem;

  @media only screen and (min-width: 768px) {
    margin-left: 27px;
    margin-top: 0;
  }
}

.ReviewsCards > div {
  flex-basis: calc(50% - 13.6665px);
}

.SeeMoreCTA {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  margin-top: 29px;
  text-decoration-line: underline;
  text-align: right;

  @media only screen and (max-width: 767px) {
    text-align: center;
    font-size: 1em;
  }
}
