.DS_Store
.idea
react-app/node_modules
react-app/.env
react-app/.env.production
react-app/.env.testing
node_modules
react-app/build
zip.zip
build
.elasticbeanstalk/config.yml
react-app/package-lock.json

_node_modules

# next.js
/.next/
/out/

# local env files
.env
.env.development
.env.production
.env.qa
.env.testing
.env*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

package-lock.json

