.Container {
  display: flex;
  padding: 38px 0 !important;
}

.SharePreview {
  margin-right: 25px;
}

.ShareDetailsFormContainer {
  width: 765px;
}

.Poster {
  width: 100%;
}

.BodyText {
  padding: 28px;
  font-size: 12px;
}
