.HiringsCardSectionLayout {
  .f-main-padding {
    background-color: white;
    min-height: 550px;
    margin: 0 auto;
    max-width: 900px;
  }

  .contract-card {
    width: 100%;
    display: flex;
    margin: 0px 20px 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #eeee;

    .div-contract-info {
      flex: 2; /* additionally, equal width */
      padding: 5px;
      width: 90vw;
      max-width: 800px;
      margin: 0 auto;

      .card-header {
        min-height: 110px;
        display: flex;

        .celebrity-image {
          padding: 2px;
          margin-right: 20px;

          img {
            border-radius: 6px !important;
          }
        }

        .from-to {
          flex: 4;
        }

        .celebrity-image {
          flex: 2;
          width: 200px;
          text-align: right;

          button {
            float: right;
            display: flex;
            margin-top: 25px;
          }
        }

        i {
          position: relative;
          right: -5px;
        }
      }
    }
  }


}
