.HiringsCardSectionLayout {
  .f-main-padding {
    background-color: white;
    min-height: 550px;
    margin: 0 auto;
    max-width: 900px;
  }

  .contract-card {
    width: 100%;
    display: flex;
    margin: 0px 20px 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #eeee;

    .div-contract-info {
      flex: 2; /* additionally, equal width */
      padding: 5px;
      width: 90vw;
      max-width: 800px;
      margin: 0 auto;

      .card-header {
        min-height: 110px;
        display: flex;

        .celebrity-image {
          padding: 2px;
          margin-right: 20px;

          img {
            border-radius: 6px !important;
          }
        }

        .from-to {
          flex: 4;
        }

        .celebrity-image {
          flex: 2;
          width: 200px;
          text-align: right;

          button {
            float: right;
            display: flex;
            margin-top: 25px;
          }
        }

        i {
          position: relative;
          right: -5px;
        }

        @media only screen and (max-width: 576px) {
          .celebrity-image {
            flex-basis: 100%;
            text-align: center;
            margin: 0 0 1rem;
            img {
              max-width: 200px;
            }
          }

          .from-to {
            flex-basis: 100%;
          }
        }
        @media only screen and (max-width: 300px) {
          .from-to {
            h5,
            h6,
            button {
              font-size: 5vw;
            }
          }
        }

        .ReviewCreatorLayout {
          padding: 0;
          margin-bottom: 1rem;
          h5 {
            font-size: 1rem;
          }

          br {
            display: none;
          }
        }
      }
    }
  }
}
