.SubscriptionBenefitsView {
  background-color: #f6f8fc;
  padding: 14px 0;
}

.Container.Container {
  max-width: 600px;
}

.BenefitCard + .BenefitCard {
  margin-top: 1.25rem;
}

.BenefitsViewFamososBanner {
  margin-top: 0.875rem;
}
