.CelebrityReviewsSectionLayout {
  background-color: #f9f9f9;
  .f-section {
    max-width: 900px;
  }
  .comment {
    overflow-y: scroll;
    height: 45px;
  }

  &__title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #626262;
  }
}
