.NewsLetterModal {

}

.NewsLetterModal-div-image {
  img {
    border-radius: 15px 15px 0px 0;
  }
}


.NewsLetterModal-body {
  background-color: white !important;
  border-radius: 0px 0px 15px 15px;
  display: flex;

  button {
    height: 45px;
  }
}

.NewsLetterModal-close-div {
  position: absolute;
  right: 20px;
  top: 15px;
}

.modal-content {
  border: 0;
  background-color: transparent;
}
