.ContainerPhoneInput {
  height: 45px;

  :global(.invalid-number-message) {
    display: flex;
    align-items: center;
    left: 50%;
    top: 110%;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    background-color: transparent;
    color: #000000;
    &::before {
      content: "";
      margin-right: 4px;
      width: 11px;
      height: 11px;
      display: inline-flex;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5.5C11 8.53824 8.53735 11 5.5 11C2.46265 11 0 8.53824 0 5.5C0 2.46353 2.46265 0 5.5 0C8.53735 0 11 2.46353 11 5.5ZM5.5 6.60887C4.93658 6.60887 4.47984 7.06561 4.47984 7.62903C4.47984 8.19245 4.93658 8.64919 5.5 8.64919C6.06342 8.64919 6.52016 8.19245 6.52016 7.62903C6.52016 7.06561 6.06342 6.60887 5.5 6.60887ZM4.53145 2.94192L4.69596 5.95805C4.70365 6.09919 4.82035 6.20968 4.96169 6.20968H6.03831C6.17965 6.20968 6.29635 6.09919 6.30404 5.95805L6.46855 2.94192C6.47687 2.78948 6.35549 2.66129 6.20282 2.66129H4.79715C4.64448 2.66129 4.52313 2.78948 4.53145 2.94192Z' fill='%23FF3844'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }
  }
}

.InputClassPhoneInput,
.ButtonClassPhoneInput {
  background-color: rgba(249, 249, 255, 1) !important;
}
.ButtonClassPhoneInput {
  width: 71px;
}
.InputClassPhoneInput {
  text-indent: 35px;
}
.ButtonClassPhoneInput {
  > div {
    width: 69px !important;
    background-color: rgba(249, 249, 255, 1) !important;
    align-items: center;
    > div {
      left: 30%;
      //   width: 20px !important;
    }
  }
}
