.celebrities-results-shimmer-layout {
  &__title {
    height: 1.125rem;
    margin-bottom: 0.75rem;
    width: 14rem;
    border-radius: 10px;
    background: #d8d8d8;

    @media only screen and (max-width: 240px) {
      width: 100%;
    }

    @media only screen and (min-width: 576px) {
      margin-left: 12%;
    }

    @media only screen and (min-width: 768px) {
      margin-left: 7.5%;
    }

    @media only screen and (min-width: 1200px) {
      margin-left: 5.5%;
    }
  }

  &__cards-list {
    list-style: none;
    padding: 0 0 2rem;
    display: grid;
    gap: 1.1656rem 0.75rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 186.54px);
    overflow: scroll;
    @media only screen and (max-width: 401px) {
      grid-template-columns: repeat(2, 45.33333333333333vw);
    }
  }

  &__card-item {
    .shimmer-card {
      width: 186.54px;

      .shimmerBG {
        height: 186.54px;
      }

      @media only screen and (max-width: 401px) {
        width: 45.33333333333333vw;
        .shimmerBG {
          height: 45.33333333333333vw;
        }
      }
    }
  }
}
