.CommentBoxWrapper {
  margin: 1rem 0.5625rem 0.625rem 0.5625rem;
}
.CommentBox {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(249, 249, 255, 1);
  padding: 12px 0px 10px 8px;
  border: 1px solid #dedede;
  :focus-visible {
    outline: none;
  }
}

.SubmitComment {
  padding: 0 !important;
  //   margin: 0 0 0 auto !important;
  color: rgba(61, 135, 243, 0.5);
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.CommentTextArea {
  margin-left: 18px;
  background: transparent;
  border: none;
  font-size: 12px;
  resize: none;
  width: 100%;
  min-height: 1rem;
  max-height: 4rem;
  &::-webkit-scrollbar {
    display: unset;
    width: 10px;
    background: var(--gray-1);
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--gray-2);
    border-radius: 10px;
  }
}

.UserImgProfile {
  border-radius: 50%;
}

.CommentSucceeded {
  margin: 0 auto;
}
.FormError {
  height: 15px;
  margin-top: 4px;
  visibility: hidden;
}

.ErrorIsVisible {
  visibility: visible;
}
