.MyHiringsCardDeliveryInfo {
  margin-top: 1.5rem;
  display: flex;
}

.MyHiringsCardDeliveryInfoCompleted {
  margin-top: auto;
}

.EditableInputField {
  font-size: 14px;

  > div > input:disabled {
    margin-bottom: 12px;
  }
}
