.MyHiringsCardDeliveryInfo {
  margin-top: 1.5rem;
  display: flex;
}

.MyHiringsCardDeliveryInfoCompleted {
  margin-top: auto;
}

.EditableInputField {
  font-size: 14px;

  > div > input:disabled {
    margin-bottom: 12px;
  }
}

.InfoWrapper {
  margin-bottom: 12px;
}

.InfoWrapper + .InfoWrapper {
  margin-left: 45px;
}

.InfoTitle {
  font-size: 14px !important;
  font-weight: bold;
  margin-bottom: 8px;
}

.InfoValue {
  color: var(--gray-4);
  font-size: 14px;
}
