.StickyCTAContainer {
  display: flex;
  align-items: center;
  height: 76px;
}

.StickyCTAAvatar {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.3125rem;
}

.StickyCTAFullName {
  margin-bottom: 0;
  display: inline;
  margin-right: auto;
  max-width: 150px;
}

.StickyCTAInfo {
  margin-right: auto;
}

.StickyCTAPrice {
  font-weight: bold;
  margin-right: 1rem;
}

.StickyCTAButton {
  font-weight: bold;
  height: 2.875em;
  width: 18.125em;
}

.CelebrityFullName {
  font-weight: bold;
}
