.PriceRangeSliderSlider {
    height: 20px;
  }

  .PriceRangeSliderInputs {
    display: flex;
    justify-content: space-between;
    height: auto;
    line-height: 20px;
    text-align: center;
  }
  
  .PriceRangeSliderInputsSeparator {
    display: none;
  }
  