.CopyLinkContainer {
  font-size: 0.9375rem;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ffffff;
  border: 0.15em solid #fb177d;
  border-radius: 0.5333em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.CopyLinkContainerButton {
  position: absolute;
  left: 1em;
}

.CopyLinkContainerText {
  padding: 1em 1em 0.85em 3em;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0em;
  color: var(--gray-3);
}

.CopyLinkContainerLinkCopied {
  color: #fb177d;
  padding-left: 1em;
}
