.labelInputFields {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 19px;
  color: var(--gray-4);
}

.inputClass {
  font-size: 14px;
}

.inputClass:disabled {
  color: black;
  font-weight: bold;
}
.InputContainer > div:first-child {
  flex: 1;
}
