@import "../../../theme";

.container-sign-in-page {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-flow: row;
  min-height: 80vh;
  flex-wrap: wrap;

  &__login-details {
    margin-top: 200px;
    display: flex;
    flex-flow: column;
    width: 500px;
  }

  &__instructions {
    h1 {
      font-weight: bold;
    }
  }
  &__login-button {
    width: 400px;
    margin-top: 20px;
    height: 60px;
    color: white;
  }
  &__create-contract-steps {
    margin-top: 50px;
    width: 400px;
    // height: 80%;
  }
}
