@import "../../../theme";

.CelebrityCardLayout {
  .f-card {
    margin-bottom: 20px;
    width: 180px;

    .profile-section{
      position: relative;
      width: 100%;
      padding-top: 100%;
      background-color: $dark;
      border-radius: 0.5rem !important;
      max-height: 100%;
    }

    .f-image {
      position: relative;
      width: 160px;
      height: 160px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
      }

      .f-price {
        position: absolute;
        top: 86%;
        background-color: #fff;
        padding: 1px;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100px;
        text-align: center;
        opacity: 0.8;
        font-size: 10px;
      }
    }

    .card-body {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .hashtags{
    *{
      color: $soft-grey !important;
    }
    margin-right: 2px;
  }


  @media (max-width: 768px) {
    .f-card {
      margin-bottom: 20px;
      max-width: 160px;

      .f-image {
        width: 100%;
        height: 100%;
      }

      &.min-style {
        width: 44vw;

        .f-image {
          width: 38vw;
          height: 38vw;
        }
      }

    }
  }
}
