.PaymentsMethodsSelectorCard {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  padding: 32px 42px 40px;
}

.PaymentMethodFormSection {
  margin-bottom: 28px;
}

.PaymentMethodFormTitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #6970c6;
  margin-bottom: 23px;
}

.PaymentSecureBanner {
  display: block;
  margin: 0 auto;
  height: 62px;
  margin-bottom: 26px;
}

.DisclaimerTermsAndPolicies {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  text-align: center;
}
