.SubscriptionNextBenefitBanner {
  background-color: #e20036;
  padding: 24px 0;
}

.SubscriptionNextBenefitBannerContainer {
  display: flex;
  max-width: 600px !important;
}

.SubscriptionNextBenefitBannerContainer > * + * {
  margin-left: 24px;
}

.SubscriptionNextBenefitBannerButton,
.SubscriptionNextBenefitBannerText {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;

  @media only screen and (max-width: 575px) {
    font-size: 4.35vw;
  }
}

.SubscriptionNextBenefitBannerText {
  max-width: 15em;
  flex: 2;
  margin-bottom: 0;
  color: white;

  @media only screen and (max-width: 767px) {
    max-width: 10.5em;
  }
}

.SubscriptionNextBenefitBannerButton {
  flex: 1;
  padding: 0.6em 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
