.cookies-consent {
  will-change: opacity;
  font-size: 0.75em !important;
  background-color: #eee;
  width: 100%;
  max-width: 65rem;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 1.25em;
  text-align: justify;
  border-radius: 4px 4px 0px 0px;
  z-index: 998;

  &.hidden {
    transition: opacity 0.2s ease;
    opacity: 0;
  }
}

.cookies-consent__text {
  margin-bottom: 1.25em;
}

.cookies-consent__options {
  display: flex;
  align-items: center;
}

.cookies-consent__terms-link {
  color: #035277 !important;
  cursor: pointer;

  &:hover {
    text-decoration: underline !important;
  }
}

.cookies-consent__accept-button {
  border: 1px solid rgb(118, 118, 118);
  float: right;
  padding: 0.5rem;
}
