@import '../../../styles/breakpoints';
@import '../../../styles/variables';
@import '../../../styles/mixins';

.toggle {
  gap: .5rem;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
}

.icon-bar {
  height: 2px;
  width: 2.1rem;
  display: block;
  border-radius: .31rem;
  transition: all .5s;
  transform-origin: left;
  background: $highlight-color;
}

.open,
.toggle:active {
  .icon-bar:first-child {
    transform: rotate(35deg);
  }

  .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .icon-bar:last-child {
    transform: rotate(-37deg);
  }

  .menu__collapse {
    display: block;
  }
}
