.PageWrapper {
  position: relative;
}

.HiringPreviewPageMain {
  min-height: calc(100vh - 58px /* Topbar height */);
}

.PreviewModeOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.PreviewModeOverlayBanner {
  text-align: center;
  background-color: var(--warning);

  p {
    margin-bottom: 0;
    padding: 0.375em 0;
    font-size: 20px;
    font-weight: bold;

    @media only screen and (max-width: 26.5em) {
      font-size: 4.5vw;
    }

    @media only screen and (max-width: 47.9375em) {
      width: 90%;
      max-width: 520px;
      margin: 0 auto;
    }
  }
}

.PreviewModeOverlay + .HiringPreviewPageMain {
  position: relative;
  top: 2.8125rem; /* PreviewModeOverlayBanner height */
  @media only screen and (max-width: 47.9375em) {
    top: 4.6875rem;
  }
  @media only screen and (max-width: 26.5em) {
    top: 16.5vw;
  }
}
