@import "../../../styles.scss";

.Footer{
    background: rgba(0, 0, 0, 1);
    width: 100%;
}
.FooterContainer {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 321px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-flow: row wrap;
}

.FooterContainerSectionForm{
    flex: 1 1 30%;
    display: flex;
    flex-flow: column;
}

.FooterContainerSectionFormElements{
    display: flex;
    flex-flow: column;
}


.FooterContainerSectionFormElements div:first-of-type {
    margin-bottom: 20px;
}
.FooterContainerSectionAppsLinks{
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}

.FooterContainerSectionGeneralLinks{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: CENTER;
    width: 100%;
}
.FooterContainerSectionGeneralLinks >  div:first-child{
    flex: 0 1 70%;
}

.FooterContainerSectionGeneralLinks >  div:nth-child(2){
    flex: 0 1 10%;
}
.FooterContainerSectionMetaPage{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.FooterCopyright{
    display: flex;
    align-items: center;
    span{
        font-size: 10px;
        color: var(--gray-3);
    }
}