.SvgIcon {
  color: #8d8d8d;

  &:hover {
    color: var(--light) !important;
  }
  & > * {
    color: inherit;
  }
}

.CurrencyIcon {
  & > circle {
    stroke: currentColor;
  }

  & > path {
    fill: currentColor;
  }
}

.BellIcon {
  & > path {
    fill: currentColor;
  }
}
.PlayIcon {
  & > * {
    fill: currentColor;
    stroke: currentColor;
    color: currentColor;
  }
}

.SearchIcon {
  path {
    fill: currentColor;
  }
}
