.InputField {
  height: auto !important;
  padding: 0.5em 0.85em;
  background: #f9f9ff;
  border: 1px solid #dedede;
  border-radius: 5px;

  &:disabled {
    background: rgb(227, 227, 227);
    border-color: rgb(227, 227, 227);
  }
}
