@import "../../../theme";

.NavbarSearchLayout {

  input {
    width: 370px !important;
    height: 45px;
    border-radius: 8px !important;
    margin-top: -4px !important;

    &.active {
      border: solid 3px $active;
    }
  }
  .fa.fa-search{
    position: absolute;
    top: 1px;
    z-index: 50000;
    right: 10px;
    background: white;
    padding: 9px;
  }
}
