.filter{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    &_Div{
        width: 100%;
        height: 100%;
        @media only screen and (max-width: 576px) {
            width: 94%;
        }
        @media only screen and (min-width: 576px) {
          max-width: 510px;
        }
        @media only screen and (min-width: 768px) {
          height: 100%;
          max-width: 690px;
        }
        @media only screen and (min-width: 992px) {
          max-width: 930px;
          min-height: 150px;
        }
        @media only screen and (min-width: 1200px) {
          max-width: 1110px;
          min-height: 140px
        }
    }
  &_carrousel{
    width: 100%;
    margin-bottom: 15px;
  }
  &_option{
    width: 100%;
    margin-bottom: 20px;
  }
}