.BackstageBenefitCard.BackstageBenefitCard {
  background-color: white;
  display: block;
  padding-bottom: 24px;
  text-decoration: none;
}

.PosterWrapper {
  height: 86.06vw;
  max-height: 572px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.PosterImage,
.PosterOverlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.PosterImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.PosterImageBlocked {
  background-color: var(--gray-2);
}

.PosterOverlay {
  padding: 14px 24px;
  display: flex;
  align-items: flex-end;
}

.DarkenBackground {
  background: rgba(4, 4, 4, 0.5);
  mix-blend-mode: normal;
}

.BenefitTitle.BenefitTitle,
.TimeCounter {
  font-size: 8vw;

  @media only screen and (min-width: 340px) {
    font-size: 2.125rem;
  }
}

.BenefitTitle.BenefitTitle {
  max-width: 14.375rem;
  font-weight: bold;
  color: white;
}

.ContentWrapper {
  margin-top: 1.25rem;
}

.BenefitDateText {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 18px;
}

.TimeCounter {
  margin-left: auto;
  font-weight: bold;
}
