.ButtonDropdown {
  path {
    fill: rgb(141, 141, 141);
  }
  &:hover path {
    fill: white;
  }
}
.CurrencyDropdown {
  &Menu {
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 0.5rem 0;
    overflow-y: scroll;
    height: 240px;
    height: fit-content;

    min-width: initial;
    padding: auto;

    &.CurrencyDropdownMenuShow {
      margin-top: 0.5rem;
      right: -150% !important;
    }
  }

  &Item {
    cursor: pointer;
    padding: 0.75rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    span {
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      color: #000000;
      font-weight: bold;
    }
    &Active {
      background: rgb(226, 226, 226);
    }
  }
}
