/* ---------------- MEDIA QUERIES STARTS ------------------- */
@supports not (display: grid) {
  .celebrities__card {
    margin-bottom: 1rem;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .image[src$=".svg"] {
      width: calc(100% + 1px);
    }
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 4vw;
  }

  .section-block__inner-content {
    width: 80%;
  }

  .celebrities__inner-content {
    width: 90%;
  }

  .celebrities__main__cards {
    grid-template-columns: repeat(2, 10rem);
  }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
  :root {
    font-size: 16px;
  }

  .hero {
    background-size: cover;
  }
}

@media screen and (max-width: 500px) and (min-width: 401px) {
  .videos__list {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
  .videos__list-item {
    flex-basis: calc(50% - 0.5rem);
  }
}

@media screen and (max-width: 600px) {
  .hero {
    background: url(../img/hero-background-small.jpg) no-repeat 50% 50% / cover,
      black;
    height: 33.1875rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    font-size: 1.33vw;
  }
}

@media screen and (max-width: 767px) {
  .how-to__steps {
    width: 18rem;
    flex-wrap: wrap;
    top: -1.5rem;
  }

  .hero__header__heading {
    font-size: 1.8576rem;
    width: 15.75rem;
  }

  .how-to__copy {
    text-align: center;
    width: 80%;
  }

  .celebrities__header__cropped {
    width: 19rem;
  }

  .btn {
    padding: 1em;
  }

  .hidden-mobile {
    display: none;
  }

  .main_footer {
    height: 18.75rem;
  }

  .main_footer__inner-content {
    max-width: 300px;
  }

  .main_footer__info__logo {
    top: -1rem;
    position: relative;
    height: 2.125rem;
    width: 10rem;
    margin: 0 auto 2rem;
  }

  .main_footer__info__what-is,
  .text-medium,
  .main_footer__info__copyright {
    line-height: 1.25rem;
    font-size: 0.8669rem;
  }
}
/* ---------------- MEDIA QUERIES ENDS ------------------- */
