
    h2 {
        font-size: 1.3622rem;
    }

    .section-block__inner-content {
        max-width: 60rem;
    }

    .how-to {
        height: 7.5rem;
    }

    .how-to__steps {
        justify-content: space-around;
    }

    .how-to__steps-image {
        margin-right: 0.15rem;
    }

    .celebrities__main__cards {
        grid-template-columns: repeat(5, 11.35rem);
    }

    .videos__list-item {
        flex-basis: calc(25% - 1rem);
        margin-bottom: 0;
    }

    .videos__button {
        font-size: 1.486rem;
    }

    .hidden-on-desktop {
        display: none;
    }

    .main_footer__inner-content {
        flex-wrap: wrap;
    }

    .main_footer__info__what-is {
        margin-bottom: 1.25rem;
    }

    .main_footer__socials {
        margin-top: 1.5rem;
        flex-basis: 100%;
        order: 1;
    }

    .main_footer__socials__text {
        margin-left: auto;
    }