div.TrendingVideosSectionLayout {
  margin-top: 10px !important;

  .loading-section{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
  }
}
