.WizardTopNavigation {
  display: flex;

  &StepsList {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
  }

  &Step {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 50%;
    background-color: var(--gray-1);
    margin-left: 10px;

    &Doing,
    &Done {
      background-color: var(--gray-2);
    }
  }
  &StepEnabledNavigation {
    cursor: pointer;
  }
}
