@import '~bootstrap/scss/bootstrap';
@import '../../../styles/breakpoints';
@import '../../../styles/mixins';

.modal__container {
  @include display-flex(center);
}

.modal-dialog-centered {
  justify-content: center;

  .modal-content {
    align-items: center;
    
    .modal-body {
      margin-top: 20px;
      max-width: 600px;
    }
  }

  @include desktop {
    .modal-content {
      max-width: 600px;
    }
  }
}


.modal-dialog-centered {
  justify-content: center;

  .modal-content {
    align-items: center;
    
    .modal-body {
      margin-top: 20px;
      max-width: 600px;
    }
  }

  @include desktop {
    .modal-content {
      max-width: 600px;
    }
  }
}
