$text-primary-color: #32333c;
$text-secondary-color: #666;

$highlight-color: #954386;
$dark-highligh-color: #823c75;

$base-color: #f5ecec;
$main-background: rgba(255, 255, 255, 1);

$desktop-padding: 19px 2.1rem;

$box-shadow-elevated: 0 .43rem .8rem 0;
