$color1: #f7d0bf;
$color2:#ff6e6e;
$color3:  #fa5353;
$color4: #1d1c1c;

.contac{
    color: $color4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


    &_Port{
        line-height: 170%;
        font-size: 35px;
        margin-left: 2%;
        width: 70%;
    }

    &_Red{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        background-color: $color4;
        color: $color1;
        border-top: 1px solid $color3;
        p{
            font-size: 40px;
            margin: 15px;
            color: white;
            cursor: pointer;
        }
    }

}