@import 'global';

.contac{
    @include caja-flex (flex,column,center,center,nowrap);
    color: $color4;
    width: 100%;


    &_Port{
        line-height: 170%;
        font-size: 35px;
        margin-left: 2%;
        &_text{
            width: 70%;
            @media #{$smarphone}{
                width: 85%;
            }
        }
        @media #{$smarphone}{
            font-size: 18px;
            line-height: 150%;
        }
    }

    &_Red{
        @include caja-flex (flex,row,space-around,center,nowrap);
        background-color: $color4;
        color: white;
        border-top: 1px solid $color3;
        width: 100%;
        .p{
            font-size: 40px;
            margin: 15px;
            cursor: pointer;
            @media #{$smarphone}{
                font-size: 23px;
                margin: 10px;
            }
        }
    }

}
.p:hover{
    color:$color3;
}