@import 'global';


.front{
    @include caja-flex(flex,column,center,center,nowrap);
    color: $color4;
    margin-top: 40px;
    width: 90%;
    cursor: pointer;
   
    &_titulo{
        @include caja-flex(flex, row, center, center, nowrap);
        font-size: 40px;
        color: $color4;
        @media #{$smarmini}{
            font-size:20px;
        }
        @media #{$smarphone}{
            font-size: 28px;
        }
        @media #{$tablet}{
            font-size: 35px;
        }
    }

    &_cuerpo{
        @include caja-flex(flex,row,space-around,center,wrap);
    }

    &_DivC{
        @include caja-flex(flex,column,center,center,nowrap);
        border: 1px solid $color4;
        border-radius: 8px;
        width: 400px; 
        height: 400px;
        margin-bottom: 40px;
        color: $color4;
        overflow: hidden;
        margin: 2%;
        @media #{$smarmini}{
            width: 250px;
            height: 280px;
        }
        @media #{$smarphone}{
            width: 350px;
            height: 300px;
        }
        @media #{$tablet}{
            width: 350px;
            height: 350px;
        }
        &_hover{
            @include caja-flex(flex,row,center,center,nowrap);
            width: 400px;
            height: 400px;
            overflow: hidden;
            position: relative;
            z-index: 0;
            @media #{$smarmini}{
                width: 250px;
                height: 220px;
            }
            @media #{$smarphone}{
                width: 350px;
                height: 300px;
            }
            @media #{$tablet}{
                width: 350px;
                height: 350px;
            }
            &_img{
                @include caja-flex(flex,column,center,center,nowrap);
                height: 350px;
                width: 100%;
                transition: all 800ms ease-in-out;
                z-index: 1;
                background-color:#ffc5c5;
                @media #{$smarmini}{
                    height: 230px;
                }
                @media #{$smarphone}{
                    height: 250px;
                }
                @media #{$tablet}{
                    height: 270px;
                }
                &_i{
                    height: 270px;
                    margin-top: 30px;
                    width: 90%;
                    transition: all 100ms ease-in-out;
                    border: 1px solid $color4;
                }

            }
            
        }

        &_v{
            @include caja-flex (flex,column,space-around,center,nowrap);
            line-height: 40%;
            width: 100%;
            height: 100px;
            background-color: $color4;
            font-size: 18px;
            color: white;
            border-top: 1px solid $color3;
            @media #{$smarmini}{
                height:60px;
                font-size: 10px;
            }
            @media #{$smarphone}{
                height: 70px;
                font-size: 15px;
            }
            @media #{$tablet}{
                height: 80px;
                font-size: 17px;
            }
            &_etiq{
                @include caja-flex (flex,row,space-around,center,nowrap);
                width: 100%;
            }
        }

    }

    
}
.mostrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 150%;
    font-size: 18px;
    position: absolute;
    top: 0px;
    height: 350px;
    background-color: $color4;
    color: white;
    @media #{$smarmini}{
        height: 230px;
        font-size:10px ;
    }
    @media #{$smarphone}{
        height: 230px;
        font-size: 14px;
    }
    @media #{$tablet}{
        height: 270px;
        font-size: 18px;
    }
    
    p{
        width: 90%;
    }
  
}

.front_DivC:hover{
    .front_DivC_hover_img_i{
       width: 70%;
    }
    .front_DivC_hover_img{
        transform: translateY(-120%); 
    }
 
}
