@import 'global';


.front{
    @include caja-flex(flex,column,center,center,nowrap);
    margin-top: 40px;
    width: 90%;
    cursor: pointer;
   
    &_titulo{
        @include caja-flex(flex, row, center, center, nowrap);
        font-size: 40px;
        color:$color5;
        @media #{$smarmini}{
            font-size:20px;
        }
        @media #{$smarphone}{
            font-size: 28px;
        }
        @media #{$tablet}{
            font-size: 35px;
        }
    }

    &_cuerpo{
        @include caja-flex(flex,row,space-around,center,wrap);
    }

    &_DivC{
        @include caja-flex(flex,column,center,center,nowrap);
        border: 1px solid $color5;
        border-radius: 8px;
        width: 600px; 
        height: 400px;
        margin-bottom: 40px;
        overflow: hidden;        
        margin: 2%;
        @media #{$smarmini}{
            width: 250px;
            height: 280px;
        }
        @media #{$smarphone}{
            width: 350px;
            height: 300px;
        }
        @media #{$tablet}{
            width: 350px;
            height: 350px;
        }
        &_hover{
            @include caja-flex(flex,row,center,center,nowrap);
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            z-index: 0;
            @media #{$smarmini}{
                width: 250px;
                height: 220px;
            }
            @media #{$smarphone}{
                width: 350px;
                height: 300px;
            }
            @media #{$tablet}{
                width: 350px;
                height: 350px;
            }
            &_img{
                @include caja-flex(flex,column,center,center,nowrap);
                height: 100%;
                width: 100%;
                transition: all 1.5s ease-in-out;
                z-index: 1;
                background-color:#f9edfa;
                @media #{$smarmini}{
                    height: 230px;
                }
                @media #{$smarphone}{
                    height: 250px;
                }
                @media #{$tablet}{
                    height: 270px;
                }
                &_i{
                    height: 100%;
                    margin-top: 30px;
                    width: 90%;
                    transition: all 800ms ease-in-out;
                    border: 1px solid $color5;
                }

            }
            
        }

        &_v{
            @include caja-flex (flex,row,center,center,nowrap);
            line-height: 40%;
            width: 100%;
            height: 40%;
            background-color:$color5;
            font-size: 16px;
            border-bottom: 3px solid #3EB595;
            color:white;
            transition: 1s;
            @media #{$smarmini}{
                height:60px;
                font-size: 10px;
            }
            @media #{$smarphone}{
                height: 70px;
                font-size: 14px;
            }
            @media #{$tablet}{
                height: 80px;
                font-size: 15px;
            }
            &_etiq{
                @include caja-flex (flex,row,start,center,nowrap);
                width: 100%;
                height: 100%;
            }
        }

    }

    
}
.mostrar{
    @include caja-flex(flex,column,center,center,nowrap);
    line-height: 150%;
    font-size: 18px;
    position: absolute;
    height: 350px;
    background-color:$color5;
    color:white;
    @media #{$smarmini}{
        height: 230px;
        font-size:10px ;
    }
    @media #{$smarphone}{
        height: 230px;
        font-size: 14px;
    }
    @media #{$tablet}{
        height: 270px;
        font-size: 18px;
    }
    
    &_text{
        width: 90%;
        height: 90%;
        text-align: justify;
        @media #{$smarmini}{
            font-size:9px ;
        }
        @media #{$smarphone}{
            font-size: 10px;
        }
        @media #{$tablet}{
            font-size: 12px;
        }
    }
  
}

.front_DivC:hover{
    .front_DivC_hover_img_i{
       width: 70%;
    }
    .front_DivC_hover_img{
        transform: translateY(-120%); 
    }
    .front_DivC_v{
        border-bottom: 3px solid #F28241;
        transition: 1s;
    }
    .avatar_b{
        color:#F28241;
        transition: 1s;
    }
 
}
.avatar{
    width: 20%;
    height: 70%;
    margin-left: 5%;
    @include caja-flex(flex,column,center,center,nowrap);
    &_img{
        width: 100%;
        border-radius: 100%;
        height: 100%;
    };
    &_b{
        margin-left: 5%;
        width: 65%;
       color: #3EB595;
       transition: 2s;
    }
    &_text{
        @media #{$smarmini}{
            font-size:8px ;
        }
        @media #{$smarphone}{
            font-size: 10px;
        }
        @media #{$tablet}{
            font-size: 11px;
        }
    }
}
.divIcon{
    @include caja-flex(flex,row, space-around,center,nowrap);
    width: 40%;
    .icon{
        color: white;
        font-size: 20px;
    }
}