$color1:#fce5dc;
$color2:#f88c8c;
$color3:#f75f5f;
$color4:#131212;

$smarmini:"(max-width: 340px)";
$smarphone:"(min-width: 340px) and(max-width: 480px)";
$tablet:"(min-width:480px) and (max-width:728px)";
$desktop:"(min-width:728px) and(max-width: 983px)";


@mixin caja-flex ($flex,$direction,$principal, $cruzado, $wrap){
    display: $flex;
    flex-direction: $direction;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}
