$color1:#D9C8B4;
$color2:#737268;
$color3:#D9886A;
$color4:#40131F;
$color5:#1A1A1A;

$smarmini:"(max-width: 340px)";
$smarphone:"(min-width: 340px) and(max-width: 480px)";
$tablet:"(min-width:480px) and (max-width:728px)";
$desktop:"(min-width:728px) and(max-width: 983px)";
$pantallaGrande:"(min-width: 983px)";
$pantallaExtraGrande:"(min-width: 1550px)";

@mixin caja-flex ($flex,$direction,$principal, $cruzado, $wrap){
    display: $flex;
    flex-direction: $direction;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}
