$color1:#f7d0bf;
$color2:#d67979;
$color3:#fa5353;
$color4:#1d1c1c;

$smarphone:"(max-width: 480px)";
$tablet:"(min-width:480px) and (max-width:728px)";
$desktop:"(min-width: 1024px)";


@mixin caja-flex ($flex,$direction,$principal, $cruzado, $wrap){
    display: $flex;
    flex-direction: $direction;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}
