@import 'global';

.Inicio{
    @include caja-flex(flex,row,flex-start,center,nowrap);
    background-color:$color4;
    background-image: url('file:///home/andrea/Documentos/portfolio/src/me.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 80%;
    background-size: 40%;
    min-height: 850px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 86%, 100% 0%);
    @media #{$smarphone}{
        min-height: 350px;
        background-size: 40%;
    }
    &_div{
       line-height: 500%;
       padding-left: 3%; 
       @media #{$smarphone}{
            line-height: 250%;
        }
    }

    &_img{
        min-width: 490px;
        max-width: 490px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        &_imag{
            width: 490px;
            height: 520px;
            border-radius: 100%;
        }
    }
    .h1{
        color: $color3;
        margin:0px;
        font-size: 75px;
        text-shadow:5px 5px 0px #050000;
        @media #{$smarphone}{
            font-size: 25px;
        }
    }
    .h2{
        color: $color2;
        margin:0px;
        font-size: 70px;
        text-shadow:5px 5px 0px #050000;
        @media #{$smarphone}{
            font-size: 25px;
        }
    }

    .h3{
        color: $color1;
        margin:0px;
        font-size: 60px;
        @media #{$smarphone}{
            font-size: 20px;
        }
    }
   
}


