@import 'global';

.Inicio{
    @include caja-flex(flex,column,center,center,nowrap);
    background-color:$color4;
    background-image: url('../img/me.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 80%;
    background-size: 40%;
    min-height: 850px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 86%, 100% 0%);
    @media #{$smarmini}{
        min-height: 300px;
    }
    @media #{$smarphone}{
        min-height: 350px;
        background-size: 40%;
    }
    @media #{$tablet}{
        min-height: 600px;
    }
    @media #{$desktop}{
        min-height: 700px;
    }
    &_div{
       line-height: 500%;
       padding-left: 3%;
       @media #{$smarmini}{
            line-height: 180%;
        }
       @media #{$smarphone}{
            line-height: 250%;
        }
        @media #{$tablet}{
            line-height: 300%;
        }
    }

    &_img{
        min-width: 490px;
        max-width: 490px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        &_imag{
            width: 490px;
            height: 520px;
            border-radius: 100%;
        }
    }
    .h1{
        color: $color3;
        margin:0px;
        font-size: 75px;
        text-shadow:5px 5px 0px #050000;
        @media #{$smarmini}{
            font-size:20px ;
        }
        @media #{$smarphone}{
            font-size: 25px;
        }
        @media #{$tablet}{
           font-size: 40px;
        }
        @media #{$desktop}{
            font-size: 50px
        }
    }
    .h2{
        color: $color2;
        margin:0px;
        font-size: 70px;
        text-shadow:5px 5px 0px #050000;
        @media #{$smarmini}{
            font-size:20px ;
        }
        @media #{$smarphone}{
            font-size: 25px;
        }
        @media #{$tablet}{
            font-size: 40px;
        }
        @media #{$desktop}{
            font-size: 50px
        }
    }

    .h3{
        color: $color1;
        margin:0px;
        font-size: 60px;
        @media #{$smarmini}{
            font-size:20px ;
        }
        @media #{$smarphone}{
            font-size: 20px;
        }
        @media #{$tablet}{
            font-size: 35px;
        }
        @media #{$desktop}{
            font-size: 50px
        }

    }
    &_btn{
        margin-left: 15%;
        width: 18%;
        margin-top: 4%;
        .buut{
            padding-top: 4%;
            font-size: 38px;
            color: $color4;
            background-color: $color2;
            border-radius: 15px;
            border: 2px solid $color4;
            cursor: pointer;
            font-weight: bold;
            @media #{$smarmini}{
                font-size:10px ;
            }
            @media #{$smarphone}{
                font-size: 13px;
            }
            @media #{$tablet}{
                font-size: 18px;
            }
            @media #{$desktop}{
                font-size: 20px
            }
        }
    }
   .buut:hover{
        background-color: rgb(238, 189, 189);
        box-shadow:4px 4px 0px #c962628a;
   }
}
.swal-overlay{
    background-color:rgba(238, 189, 189, 0.144);
}
