@import 'global';

.nav{
    @include caja-flex(flex,row,space-around,center,nowrap);
    margin-top: 0px;
    font-size: 30px;
    background-color: $color5;
    min-height: 100px; 
    border-bottom: 1px solid #f89a63;
    font-weight: bold;
    width: 100%;
    @media #{$smarmini}{
        font-size:12px ;
        min-height: 50px;
        width: 100%;
    }
    @media #{$smarphone}{
        font-size: 15px;
        width: 100%;
        min-height: 60px;
    }
    @media #{$tablet}{
        font-size: 21px;
        width: 100%;
        min-height: 60px;
    }
    @media #{$desktop}{
        font-size: 26px;
        width: 100%;
        min-height: 70px;
    }
    
    label{
        cursor: pointer;
    } 
    a{
        text-decoration: none;
        color:rgb(255, 255, 255);
    }
   
    label:hover{
        color:#f0935e;
    }
}