$color1: #FFE5D9;
$color2:#FFC1A3;
$color3:  #FFAA81;
$color4: #1B222F;

.pre_cuerpo{
   margin-top: 120px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
    &_pag{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        font-size: 30px;
        line-height: 200%;
        color: $color4;
        width: 100%;
        &_P{
            font-weight: bold;
        }
        
    }
}      

.skill{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    width: 100%;
}
