$color1: #FAF3E0;
$color2: #EABF9F;
$color3: #B68973;
$color4: #232735;

.pre_cuerpo{
   margin-top: 120px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
    &_pag{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        font-size: 30px;
        line-height: 200%;
        color: $color4;
        &_P{
            font-weight: bold;
        }
        
    }

    &_Sk{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    
        &_l{
            display:box;
            justify-content: center;
        }
        p{
            margin-top: 10px;
        }
    }
}      

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    max-height: 250px;
    padding: 0.5%;
}
.ii{
    width: 180px;
    height: 180px;
}
.icon:hover{
    background-color: white;
    transform: scale(1.2);
    box-shadow:5px 5px 5px #9b7460;
    border: 1px solid $color2
}