@import 'global';

.pre_cuerpo{
    @include caja-flex(flex,column,center,center,nowrap);
   margin-top: 120px;
    &_pag{
        @include caja-flex (flex, column,center,center,nowrap);
        max-width: 80%;
        font-size: 30px;
        line-height: 200%;
        color: $color4;
        width: 100%;
        &_P{
            font-weight: bold;
        }
        @media #{$smarmini}{
            font-size:12px ;
        }
        @media #{$smarphone}{
            font-size: 15px;
        }
        @media #{$tablet}{
            font-size: 20px;
        }
        @media #{$desktop}{
            font-size: 25px;
        }
    }
    .hi{
        @media #{$smarmini}{
            font-size:16px;
            margin: 0px;
        }
        @media #{$smarphone}{
            font-size: 20px;
            margin: 0px;
        }
        @media #{$tablet}{
            font-size: 30px;
            margin: 0px;
        }
        @media #{$desktop}{
            font-size: 40px;
            margin: 0px;
        }
    }
    @media #{$smarmini}{
        margin-top:30px;
    }
    @media #{$smarphone}{
        margin-top: 50px;
    }
    @media #{$tablet}{
        margin-top: 60px;
    }
    @media #{$desktop}{
        margin: 70px;
    }
}      

.skill{
    @include caja-flex(flex, row, center, center, nowrap);
    width: 100%;
}
