
@import 'global';


.cuerpo_Sk{
    @include caja-flex (flex,column,center,center,nowrap);
    width: 100%;
    height: 100%;
    &_l{
        @include caja-flex(inline-flex,row, space-around, center,wrap);
        width: 100%;
        height: 100%;
       
    }
    .skh1{
        font-size: 55px;
        color: rgb(2, 2, 2);

        @media #{$smarmini}{
            font-size:20px ;
        }
        @media #{$smarphone}{
            font-size: 30px;
        }
        @media #{$tablet}{
            font-size: 40px;
        }
        @media #{$desktop}{
            font-size: 45px;
        }
    }
    .skp{
        margin: 0px;
        font-size: 22px;
        @media #{$smarmini}{
            font-size: 10px ;
        }
        @media #{$smarphone}{
            font-size: 16px;
        }
        @media #{$tablet}{
            margin: 0px;
            font-size: 18px;
        }
        @media #{$desktop}{
            font-size: 20px;
        }
    }
}

.icon{
    @include caja-flex(flex,column,center,center,nowrap);
    cursor: pointer;
    height: 20%;
    width: 40%;
    margin-bottom: 3%;
}
.ii{
    width: 60%;
    height: 100%;
}
.icon:hover{
    transform: scale(1.1);
    text-shadow:5px 5px 5px #b65555;
 
}