$color1: #FFE5D9;
$color2:#FFC1A3;
$color3:  #FFAA81;
$color4: #1B222F;


.cuerpo_Sk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_l{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 100%;
        
      
    }
    p{
        margin-top: 10px;
    }
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    max-height: 250px;
    margin: 20px;
    cursor: pointer;
}
.ii{
    width: 180px;
    height: 180px;
    padding: 3px;
}
.icon:hover{
    margin: 15px;
    transform: scale(1.2);
    text-shadow:5px 5px 5px #72584b;
    
}