$color1: #FFE5D9;
@import 'global';


.cuerpo_Sk{
    @include caja-flex (flex,column,center,center,nowrap);

    &_l{
        @include caja-flex(flex, row, space-around, center, wrap);
        width: 70%;
        height: 100%;
       
    }
    .skh1{
        font-size: 60px;
        color: #1d1c1c;
        @media #{$smarphone}{
            font-size: 30px;
        }
        @media #{$tablet}{
            font-size: 40px;
        }
        @media #{$desktop}{
            font-size: 50px;
        }
    }
    .skp{
        margin-top: 10px;
        @media #{$smarphone}{
            font-size: 18px;
            margin: 0px;
        }
        @media #{$tablet}{
            margin: 0px;
            font-size: 20px;
        }
        @media #{$desktop}{
            margin: 0px;
            font-size: 23px;
        }
    }
}

.icon{
    @include caja-flex(flex,column,center,center,nowrap);
    font-size: 25px;
    max-height: 250px;
    margin: 20px;
    cursor: pointer;
    @media #{$smarphone}{
        max-height: 150px;
        margin: 0px;
    }
    @media #{$tablet}{
        margin:0px;
        max-height: 140px;
    }
    @media #{$desktop}{
        margin: 10px;
        max-height: 160px;
    }
}
.ii{
    width: 180px;
    height: 180px;
    padding: 3px;
    @media #{$smarphone}{
       width: 80px
    }
    @media #{$tablet}{
        width: 130px;
    }
    @media #{$desktop}{
        width: 150px
    }
}
.icon:hover{
    margin: 15px;
    transform: scale(1.2);
    text-shadow:5px 5px 5px #b65555;
    @media #{$smarphone}{
        margin: 8px;
        transform: scale(1.1);
    }
    @media #{$tablet}{
        margin: 12px;
        transform: scale(1.1);
    }
   
}