.ContractOccasion {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.ContractOccasionIcon {
  background-color: #f4f5ff;
  margin-right: 15px;
  border-radius: 10px;
  width: 34px;
  height: 34px;
  padding: 9px;
  img {
    display: block;
    width: 100%;
  }
}
