
.option-container{
   
    text-align: center;

    
    .container-circle{ 
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: auto; 
        background-image: url("/assets/img/ocassion-container.svg");
        background-repeat: no-repeat;
        &.choose{
            background-image: url("/assets/img/ocassion-container-select.svg");
        }
        
    }
    &.choose *{
       color: #FB177D;
    }
    
    .container-legend{
        font-size: 11px;
        cursor: pointer;
    }

    
    i {
        font-size: 23px;
        
    }

   
}
