@import "../../../theme";

.CreateContractPage {
  *:checked {
    border: 1px solid $primary !important;
  }

  .centerForm {
    display: flex;
    justify-content: center;
  }

  input,
  textarea {
    border: 2px solid $dark !important;
  }

  .titleMessage {
    background-color: #303542 !important;
    color: white;
    width: 100%;
    border-radius: 0px 0px 20px 0;
    padding: 10px;
    text-transform: uppercase;
  }

  label {
    width: 100%;
  }

  button.contract-button {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 5px 40px;
    background: linear-gradient(#FF359B, #FB177D 50%);
    color: #FFFFFF;
    font-size: 1.0526rem;
    font-weight: 700;
    width: 18.6875rem;
    border-radius: 41px;
  }
}
