.Price {
  font: inherit;
}

.RemovedPrice,
.DiscountPercentage {
  font-size: 0.725em;
  margin-right: 1em;
}

.RemovedPrice {
  text-decoration: 1px line-through;
  color: var(--gray-4);
  position: relative;
  top: -0.075em;
}
