@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/carousel";
@import '../../../styles/breakpoints';

.carousel {
  &-item {
    width: 100%;
    position: relative;
    min-height: 12.5rem;
  }

  &-img {
    object-fit: cover;
    object-position: top;
  }
}

@include tablet {
  .carousel-item {
    min-height: 15.6rem;
  }

  .carousel-img {
    object-fit: contain;
    object-position: top;
  }
}

@include desktop {
  .carousel-item {
    min-height: 20.6rem;
  }
}
