.VideoCardLayout {
  .video-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 0.625rem;
    width: 258px;
    height: 344px;
    background: linear-gradient(0deg, #292929 0%, rgba(126, 126, 126, 0) 100%);
    mix-blend-mode: multiply;
    border-radius: 11px;

    &__category {
      align-items: center;
      font-size: 0.5625rem;
      background: #000000;
      border-radius: 30px;
      color: white;
      padding: 0.375em 0.75em;
    }

    &__celebrity-photo {
      width: 53.65px;
      flex-basis: auto;
      margin-right: 0.75rem;
      border-radius: 50%;
    }

    &__celebrity-full-name {
      margin: 0;
      flex-basis: 137px;
      font-size: 1.125rem;
      line-height: 1.38;
      font-weight: bold;
      color: white;
    }
  }
}
