.CreateContractForm {
  //zoom: 80%;
  padding: 20px 35px;
  background-color: #E5E5E5;
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);


  .form-container{
    max-width: 500px;
    margin: 0 auto;
  }

  .subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #2F3541;
  }

  // ####################
  // celebrity-details
  // ####################
  .celebrity-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    text-align: left;

    .celebrity-avatar {
      margin-right: 20px;

      img {
        width: 62px;
        height: 62px;
        border-radius: 100%;
      }
    }

    h5.celebrity-name {
      padding: 0;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: #2F3541;
    }
  }

  // ####################
  // END celebrity-details
  // ####################


  // ####################
  // delivery-option
  // ####################
  .delivery-option {
    padding-left: 5px;
    padding-right: 5px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 8px;

    .delivery-option-icon {
      margin-left: 10px;
      width: 60px;
      text-align: left;

      i {
        margin-top: 4px;
        font-size: 20px;
      }
    }

    .delivery-option-text {
      text-align: left;
      width: 100%;

      span {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .delivery-option-control {
      width: 50px;

      .switch {
        border: solid 1px grey;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
          background-color: black;
          display: none;
        }

        &.on {
          span {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: black;
            display: block;
          }
        }

      }
    }
  }

  .business-option {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
  }

  // ####################
  // END delivery-option
  // ####################

  // ####################
  // form custom group
  // ####################
  .form-custom-horizontal-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;

    .form-custom-label {
      width: 80px;
    }

    .form-custom-input {
      width: 100%;
    }

    &.hide {
      display: none;
    }

    label {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
    }

  }

  .form-custom-vertical-group {
    margin-bottom: 10px;

    label {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
    }
  }

  input, textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1.5px solid #2F3541;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;

    &::placeholder {
      color: #B7B7B7;
      opacity: 0.8;
    }
  }

  .hide-error {
    display: none;
  }

  .show-error {
    display: block;
  }

  // ####################
  // END form-custom-horizontal-group
  // ####################

  @media (min-width: 768px) {
    border-radius: 10px;
  }
}
