@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.about {
  padding-top: 0;
}

.about-title {
  font-weight: bold;
}

.about-title-line {
  @include underline();
}

.about-content {
  text-align: justify;
  white-space: pre-line;
}

.about-text {
  @include text(1rem);

  &::after {
    content: '';
    white-space: pre;
    display: block;
    margin-bottom: 1rem;
  }
}

.about-options {
  margin-top: 2.5rem;
  max-width: 25rem;
  @include display-flex(center);
}

.about-option {
  height: 3.1rem;
  width: 45%;
  font-size: 1rem;
  border-radius: .37rem;
  margin-right: .625rem;
  text-transform: capitalize;
  @include display-flex(center);
  @include border(all, $highlight-color, 2px);
}

.about-option-contact {
  background: $highlight-color;
  @include text(.8, 500, normal, white);
}

.about-option-projects {
  background: white;
  @include text(.8, 500, normal, $highlight-color);
}

@include tablet {
  .about-text,
  .about-option {
    font-size: 1.125rem;
  }
}

@include desktop {
  .about-text,
  .about-option {
    font-size: 1.25rem;
  }
}
