.LessImportantCallToActionButton {
  background: #ffe1f0;
  border-radius: 5px;
  border: none;
  padding: 0.75em 1.5em;
  font-size: 20px;
  font-weight: bold;
  color: #fb177d;

  &:hover {
    background: #f36da9;
  }
}
