@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  width: 100%;
  padding: 0;

  &-header {
    width: 100%;
    @include display-flex(space-between, center);
  }
}

.header {
  top: 0;
  z-index: 99;
  min-width: 100%;
  max-width: 76.2rem;
  padding: 1rem 2rem .5rem;
  position: fixed;
  @include display-flex(center);
  background: rgb(245,236,236);
  background: linear-gradient(0deg, $main-background 0%, rgba(245,236,236,1) 55%);
  transition: all 0.3s ease;

  a {
    color: $text-primary-color;
  }

  &--scroll {
    box-shadow: 0 .43rem .8rem 0 rgba(0, 0, 0, 0.1);
  }

  &--hidden {
    transform: translateY(-100%);
    box-shadow: none;
  }
}

@include tablet {
  .header {
    padding: .5rem 3rem .5rem;
    background: $main-background;
  }

  .toggle {
    display: none;

    &:active.open {
      height: auto;
    }
  }

  .navbar {
    @include display-flex(space-between, center);

    &-header {
      width: auto;
      display: inline-block;
    }
  } 
}

@include desktop {
  .header {
    padding: .5rem 4rem .5rem;
  }
}