.ContractInfo {
}
.ContractInfoSection {
  border-bottom: 1px solid #dedede;
}

.ContractInfoHeader {
  padding: 2.625rem 0 2rem;
}

.ContractInfoData {
  padding: 2rem 0 1.625rem;
}

.ContractInfoPricing {
  padding: 2rem 0 2.625rem;
}
