.ContractInfo {
}
.ContractInfoSection {
  border-bottom: 1px solid #dedede;
}

.ContractInfoHeader {
  padding: 2.625rem 0 2rem;
}

.ContractInfoCelebrityInfo {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.ContractInfoTitle {
  max-width: 220px;
  font-size: 20px !important;
}

.ContractInfoOccasion {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.ContractInfoOccasionIcon {
  background-color: #f4f5ff;
  margin-right: 15px;
  border-radius: 10px;
  width: 34px;
  height: 34px;
  padding: 9px;
  img {
    display: block;
    width: 100%;
  }
}

.ContractInfoData {
  padding: 2rem 0 1.625rem;
}

.ContractInfoPricing {
  padding: 2rem 0 2.625rem;
}
