@font-face {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Avenir Next LT Pro Regular"),
    url("../fonts/AvenirNext/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Avenir Next LT Pro Bold"),
    url("../fonts/AvenirNext/AvenirNextLTPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next LT Pro";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local("Avenir Next LT Pro Italic"),
    url("../fonts/AvenirNext/AvenirNextLTPro-It.woff") format("woff");
}