@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Manrope Regular"),
    url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Manrope Bold"),
    url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}