.InstructionsContractApproved {
  margin-top: 5.1875rem;
  margin-left: 3rem;
  margin-right: 3.125rem;
  display: flex;
  flex-flow: column;
}

.InstructionList {
  div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  :last-child {
    margin-bottom: 3.875rem;
  }
}

.InstructionListItemIcon {
  margin-right: 1.25rem;
}

.PhoneInHandIconModifier {
  position: relative;
  left: -4px;
  margin-right: 0.8125rem;
}

.FooterInstructions {
  width: 80%;
  margin: 0 auto;
}

.ConsultationNoticies {
  margin-bottom: 1.875rem;
  p:first-of-type {
    margin-bottom: 3.125rem;
  }
}

.FooterInstructionsCTA {
  span {
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.625rem;
    text-decoration-line: underline;
    color: #000000;
  }
}
.FooterInstructionsCTA .FooterInstructionsCTAButton {
  margin-right: 2.3125rem;
  border: 2px solid black !important;
  background: #000000 !important;
  &:hover,
  &:active,
  &:focus {
    border: 2px solid black !important;
    background: #000000 !important;
  }
}

.HeaderContractApproved {
  display: flex;
  flex-flow: column;
  align-items: center;
  svg {
    height: 26px;
    width: 26px;
    border: 2px solid white;
    padding: 4px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
}

.EmailClient {
  font-weight: bold;
}
