.HeroSection {
  font-size: 16px;
  background-color: var(--dark);
  height: 17.375em;
  position: relative;

  @media only screen and (max-width: 1200px) {
    font-size: 1.25vw;
  }

  * {
    color: var(--light);
  }

  &Header {
    height: 17.375em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  & &Title {
    font-size: 2.5em;
    margin-bottom: 0.6em;

    span {
      &::after {
        animation: change-word 5s linear infinite;
        content: "músicos";
      }
    }

    @keyframes change-word {
      0% {
        content: "músicos";
      }
      33% {
        content: "influencers";
      }
      66% {
        content: "deportistas";
      }
      100% {
        content: "actores";
      }
    }
  }

  & &Copy {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1.25em;
    line-height: 1.3125em;
  }

  & &Steps {
    margin: 0;
    display: flex;
    list-style: none;
    text-indent: 0;
    padding: 0;
    justify-content: space-between;

    li {
      text-align: center;
      font-size: 0.75em;

      i {
        margin-bottom: 0.5em;
        color: var(--secondary);
      }
    }
  }

  &Content {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

    img {
      object-fit: cover;
    }

    img:first-child {
      height: 17.375em;
      width: 9.8125em;
      margin-right: 0.5em;
    }

    img:last-child {
      height: 17.375em;
      width: 33.125em;
    }
  }
}
