
.f-menu {
  margin-left: 20px;

  &.f-menu-sm {
    margin: 0;
    padding: 0;
    width: 100%;

    .active{
      color: #000;
      background-color: #000;
      border-bottom: solid 3px #000;
      border-radius: 0.5rem !important;
    }
  }

}
