@import "/public/assets/css/manrope-fonts.scss";

.desktop {
  --primary: #fb177d;
  --primary-gradient: linear-gradient(180deg, #fb177d 0%, #ff2063 100%);
  --primary-darken: #b71157;
  --primary-lighten: #ffd6e8;
  --primary-hover: #da1467;
  --primary-hover-border-color: #cf1362;
  --primary-focus-box-shadow: 0 0 0 0.2rem rgb(238 74 143 / 50%);
  --primary-focus-box-shadow-alt: 0 0 0 0.2rem rgb(235 42 123 / 25%);
  --dark: #000;
  --secondary: #6970c6;
  --secondary-lighten: #bfc4ff;
  --secondary-darken: #41479b;
  --secondary-gradient: linear-gradient(180deg, #3d87f3 0%, #fb177d 100%);
  --tertiary: #3d87f3;
  --tertiary-lighten: #a0c6ff;
  --tertiary-darken: #41479b;
  --gray-4: #5c5c5c;
  --gray-3: #838383;
  --gray-2: #bebebe;
  --gray-1: #f6f6f6;
  --warning-lighten: #fff5ca;
  --font-family: Manrope;

  .bg-gradient-primary {
    background: var(--primary-gradient);
  }

  .bg-gradient-secondary {
    background: var(--secondary-gradient);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-style: normal;
    font-weight: bold;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }

  .btn {
    border-radius: 7px;
  }

  .btn-primary {
    background: var(--primary-gradient);
    border: 2px solid var(--primary) !important;

    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(180deg, #e01085 0%, #db0646 100%),
        linear-gradient(0deg, #c4c4c4, #c4c4c4);
    }
    &:disabled {
      background: linear-gradient(180deg, #ffafdc 0%, #ff6694 100%),
        linear-gradient(0deg, #c4c4c4, #c4c4c4);
    }
  }

  .btn-secondary {
    background: var(--secondary);
    border: 2px solid var(--secondary) !important;

    &:hover,
    &:focus,
    &:active {
      background: var(--secondary-darken) !important;
    }
    &:disabled {
      background: var(--secondary-lighten);
    }
  }

  .btn-tertiary {
    border: 2px solid currentColor;
    color: var(--tertiary);
    box-shadow: none !important;

    &:hover,
    &:active {
      color: var(--tertiary-darken);
    }
    &:disabled {
      color: var(--tertiary-lighten);
    }
  }
}
