.Container {
  display: flex;
  padding: 40px 0 !important;
}

.LeftSide {
  width: 355px;
}

.RightSide {
  flex: 1;
  margin-left: 33px;
  display: flex;
}

.DeliverVideoCard {
  margin-top: 26px;
}

.VideoPlayer {
  margin-right: 1.875rem;
}

.VideoActionsWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
