.HiringPreviewLayout {
  .f-main-padding {
    background-color: white;
    min-height: 550px;
  }

  .preview {
    width: 100%;

    .video-container{
      text-align: center;
      margin: 0 auto;
      padding-right: 40px;
      padding-left: 40px;

      .f-video {
        max-width: 400px;
        margin: 0 auto;
        background-color: transparent !important;
        position: relative;

        .spinner-border{
          position: absolute;
          left: 50%;
          top: 50%;
          display: none;
        }

        &.video-loading{
          height: 400px;
          width: 100%;
          * {
            display: none;
          }
          .spinner-border{
            display: block;
          }
        }

        .play-pause {
          position: absolute;
          top: 30px;
          left: 35px;
          font-size: 45px;
          color: white;
        }

        video {
          max-width: 100%;
          border-radius: 20px;
          border: solid 1px #eee;
          background-color: #eee;
        }

      }
    }
    .video-details{
      margin: 0 auto;
      width: 90%;

      .share-div {
        position: absolute;
        right: 10px;
        top: -15px;
        img {
          width: 40px;
          margin-right: 20px;
        }
      }

      .instructions{
        height: 120px;
        overflow-y: scroll;
      }
    }
  }

}
