.StickyCTA {
  &Container {
    display: flex;
    align-items: center;
    height: 76px;
  }

  &Avatar {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    object-fit: cover;
    margin-right: 1.3125rem;
  }

  &FullName {
    margin-bottom: 0;
    display: inline;
    margin-right: auto;
    max-width: 150px;
  }

  &Info {
    margin-right: auto;
  }

  &Price {
    font-weight: bold;
    margin-right: 1rem;
  }

  &Button {
    font-weight: bold;
    height: 2.875em;
    width: 18.125em;
  }
}
