.download-app-banner {
  &__logo {
    max-width: 80px;
    width: 100%;
    border-radius: 8px;
  }

  &__info {
    font-size: 12px;
    &-title {
      font-size: 14px;
      font-weight: bold;
    }

    &-stars {
      font-size: 10px;
    }

    & > * {
      margin: 0.25em;
    }
  }
}
