.FlashDeliveryLayout {
  background-color: white;
  font-size: 0.75em;
  padding: 0.425em 0.85em;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;

  &__title {
    font-weight: bold;
    margin-right: 0.5em;
    color: black;
  }
}
