div.CelebrityPublicContractsSectionLayout {
  .f-main-padding {
    max-width: 900px;
    margin: 0 auto;

    .scrolling-wrapper {
      //grid
      display: grid;
      align-items: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding: 10px;

      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        display: inline-block;
      }
    }

    .scrolling-wrapper.horizontal-scroll {
      //grid
      display: block;
      align-items: flex-start;
      text-align: left;
      grid-template-columns: none;
      margin-left: -10px;

      .item {
        margin-right: 15px !important;
      }
    }

    //Medium devices (tablets, 768px and up)
    //@media (max-width: 768px) {
    //  .scrolling-wrapper.horizontal-scroll {
    //    //grid
    //    display: block;
    //    align-items: flex-start;
    //    text-align: left;
    //    grid-template-columns: none;
    //    margin-left: -10px;
    //
    //    .item {
    //      margin-right: 15px !important;
    //    }
    //  }
    //}

    // Large devices (desktops, 300px and up)
    @media (min-width: 300px) {
      .scrolling-wrapper {
        grid-template-columns: repeat(1, minmax(100%, 1fr)) !important;
      }
    }

    // Large devices (desktops, 768px and up)
    @media (min-width: 768px) {
      .scrolling-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr)) !important;
      }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      .scrolling-wrapper {
        grid-template-columns: repeat(4, minmax(200px, 1fr)) !important;
      }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      .scrolling-wrapper {
        grid-template-columns: repeat(4, minmax(200px, 1fr)) !important;
      }
    }

    // Extra large devices (large desktops, 1400px and up)
    @media (min-width: 1400px) {
      .scrolling-wrapper {
        grid-template-columns: repeat(4, minmax(200px, 1fr)) !important;
      }
    }

    // Extra large devices (large desktops, 1600px and up)
    @media (min-width: 1600px) {
      .scrolling-wrapper {
        grid-template-columns: repeat(4, minmax(200px, 1fr)) !important;
      }
    }
  }

  .public-contract-shimmer {
    @media (max-width: 767px) {
      .f-card {
        margin-bottom: 0 !important;
        width: 90vw !important;
      }
    }
  }
}
