.HiringsCardSectionLayout {
  .f-main-padding {
    background-color: white;
    min-height: 550px;
  }

  .contract-card {
    width: 100%;
    display: flex;
    margin: 0px 20px 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #eeee;

    .div-contract-info {
      flex: 2; /* additionally, equal width */
      padding: 5px;

      .card-header {
        height: 110px;
        display: flex;

        .celebrity-avatar {
          padding: 2px;
          margin-right: 10px;

          img {
            border-radius: 6px !important;
            width: 70px;
          }
        }

        .from-to {
          flex: 4;
        }

        .button-status {
          flex: 1;
          width: 200px;
          text-align: right;

          button {
            display: flex;
            margin-top: 25px;
          }
        }

      }
    }
  }


}
