@import "../../../theme";

.CelebrityCardLayout {
  &:hover {
    text-decoration: none;
  }
  .celebrity-card {
    width: 150px;
    background: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
    // box-shadow: 0px 8px 20px rgba(228, 228, 228, 0.7);
    border-radius: 10px;
    overflow: hidden;

    .thumbnail {
      position: relative;
      overflow: hidden;
      height: 150px;
      .celebrity__profile-photo {
        position: absolute;
        width: 100%;
        object-fit: cover;
      }

      .celebrity__flash-delivery {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }

      .celebrity__price {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
        top: calc(100% - 0.4775rem);
        transform: translateY(-100%);
        margin: 0 auto;
        width: 5.7925rem;
        height: 1.1944rem;

        &__text {
          color: black;
          font-weight: bold;
        }
      }
    }

    .celebrity-details {
      padding: 0.5rem 0.75rem;
      height: 53px;

      .celebrity-info {
        height: 1rem;
        display: flex;
        margin-bottom: 0.25rem;

        .celebrity__country {
          margin-right: 0.4375rem;
        }
        .celebrity__category {
          font-weight: 300;
          font-size: 0.625rem;
          line-height: 18px;
          top: 0.1em;
          position: relative;
        }

        .like-icon {
          margin-left: auto;
        }
      }

      .celebrity__full-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.8125rem;
        line-height: 1.384;
        font-weight: bold;
      }
    }
  }
}
