.DeliverVideoCard {
  padding: 28px;
  border: 1px solid #6970c6;
  border-radius: 7px;
  background-image: url("/assets/img/deliver-video-card-background.png");
}

.CTAButton {
  width: 100%;
  height: 50px;
  font-weight: bold;
}
