
.SignInBoxTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
}

.SignInBoxSubmitButton {
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
  height: 60px;

  @media only screen and (min-width: 768px) {
    height: 45px;
  }
}
