.HashtagsFilter {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -2.5px;
}

.HashtagsFilterHashtag {
  text-transform: capitalize;
  margin: 5px 2.5px;
  cursor: pointer;
  width: auto;
  background: var(--gray-1);
  font-size: 14px;
  padding: 0.325em 0.75em 0.325em 1em;
  border-radius: 40px;
  max-width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}

.HashtagsFilterHashtagName {
  font-size: 12px;
  font-weight: bold;
  color: var(--dark);
  flex-shrink: 1;
}

.HashtagsFilterHashtagCount {
  font-size: 10px;
  color: var(--gray-4);
  margin-left: 0.625em;
}
