.ExpandButton {
  background: #6970c6 !important;
  border: #6970c6;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  color: white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  height: 72px;
  width: 380px;
  font-family: Avenir Next LT Pro;
  font-weight: bold;
}
