.CelebrityHeroSlideshow {
  background-color: black !important;
  &--is-fullscreen {
    .carousel-item {
      height: 100vh !important;
      max-width: 960px;
      left: 50%;
      transform: translateX(-50%);
    }

    .VideoSlideLayout__poster,
    .VideoSlideLayout__video {
      object-fit: contain !important;
    }
  }

  @media only screen and (min-width: 992px) {
    border-radius: 10px;
    overflow: hidden;
  }
  .carousel {
    &-item {
      height: 90vh;
    }

    &-indicators {
      margin: 0 5%;
      top: 0.5rem;
      bottom: unset;

      li {
        flex: 1 1 auto;
        max-width: 50px;
        height: 2px;
        background-color: white;
        opacity: 1;
      }
      li.active {
        background-color: #fb1797;
      }
    }
  }

  [class^="carousel-control-"] {
    opacity: 0.85;
    @media (hover: none) {
      color: white;
      opacity: 1;
    }
  }

  .controls-icon {
    color: inherit;
    font-size: 24px;
  }
}
