@import "../../../theme";

.FooterLayout {

  .footer {
    background-color: $dark !important;
    min-height: 250px;

    * {
      color: white !important;
    }

    .btn-apply{
      background: transparent !important;
      border: solid 2.5px white;
      color: white;
    }

    .col-one {
      margin-top: 20px;
      height: 150px;
      margin-bottom: 33px;
      .col-image {
        height: 70px;

        img {
          width: 200px;
        }
      }

      .col-description {
        height: 70px;
      }

      .col-copyright {

      }
    }

    .col-two {
      margin-top: 65px;
      height: 116px;

      .col-title {
        height: 50px;
        font-weight: bold;
      }

      .col-button {
        button {
          border-radius: 20px;
        }
      }
    }

    .col-three {
      margin-top: 65px;
      height: 116px;

    }

  }

  // Large devices (desktops, 768px and up)
  @media (max-width: 768px) {
    .col-one{
      margin-top: 40px !important;
      margin-bottom: 0px !important;
    }
    .col-two {
      margin-top: 40px !important;
      height: 40px !important;
    }
    .col-three{
      height: 150px !important;
    }
  }

}



