.CelebrityDonorAlert {
  background: #f1f8ff;
  border-radius: 10px;
  font-size: 14px;

  @media only screen and (max-width: 1200px) {
    width: 100%;
    font-size: 12px;
  }

  &__image-side {
    height: 2em;
    text-align: center;
  }

  &__image {
    height: 100%;
  }

  &__text {
    line-height: 1.25;
    color: black;
  }

  &__cause-name {
    display: inline-block;
    margin-bottom: -0.25rem;
    width: 38ch;
  }
}
