.CelebrityShimmerReviewCardLayout {
  .shimmer-card {
    margin-bottom: 10px;
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100% !important;
    }

    @-webkit-keyframes shimmer {
      0% {
        background-position: -100% 0;
      }
      100% {
        background-position: 100% 0;
      }
    }

    @keyframes shimmer {
      0% {
        background-position: -1200px 0;
      }
      100% {
        background-position: 1200px 0;
      }
    }

    .p-10 {
      padding: 10px 0px;
    }

    .title-line {
      height: 1rem;
      border-radius: 20px;
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: linear;
      background: #c4c4c4;
      // background: #e5f0fb;
      // background: linear-gradient(
      //   to right,
      //   #c1dceb 4%,
      //   #a3cbe1 25%,
      //   #c1dceb 36%
      // );
      // background-size: 1200px 100%;
    }

    .user-full-name {
      width: 7vw;
      margin-right: auto;
    }

    .review-stars {
      font-size: 1.25rem;
    }

    .review-star-icon {
      // color: #c1dceb !important;
      color: #c4c4c4 !important;
    }

    .review__first-line {
      max-width: 450px;
      width: 90%;
    }
    .review__second-line {
      max-width: 475px;
      width: 95%;
    }
    .review__third-line {
      max-width: 425px;
      width: 85%;
    }
  }
}
