.CelebrityReviewCardLayout {
  .card {
    border-radius: 10px;
  }
  .card-review {
    box-shadow: 0 0 15px 0 rgba($color: #000000, $alpha: 0.1);
    height: 130px;

    .card-body {
      overflow: hidden;
    }
  }

  &__full-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    // max-width: 30vw;
  }
}
