.BlogPostCardLayout {
  border: none;
  width: 400px;
  border-radius: 8px;
  overflow: hidden;

  .card-img-top {
    height: 250px;
    object-fit: cover;
  }

  @media only screen and (max-width: 576px) {
    width: calc(75vw);

    .card-img-top {
      height: 47vw;
    }
  }
}
