.ModalHeader.ModalHeader {
  display: flex;
  align-items: center;
}

.ModalTitle {
  font-size: 24px !important;
  margin-left: 0.25rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.CurrencyDropdownCloseButton {
  font-size: 1.25rem;
  margin-right: -1rem;
}

.ToggleButton {
  background: none;
  border: none;
  padding: 0;
}

.BottomCloseButton {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.OptionsLists {
  scrollbar-width: thin !important;

  &::-webkit-scrollbar {
    width: 9px !important;
    border-radius: 5px !important;
    background: none !important;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none !important;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    background: none !important;
    box-shadow: inset 0 0 6px #0303033f !important;
    &:hover {
      box-shadow: inset 0 0 7px #0303034d !important;
    }
  }
}

.OptionsListsLabelSpan {
  line-height: 1.2;
  font-weight: normal !important;
}

.OptionsListsLabel {
  cursor: pointer;
}

.OptionsListsLabelFlag {
  vertical-align: unset;
  margin-right: 0.75rem;
}

input:disabled:checked ~ .OptionsListsLabel::before,
input:active ~ .OptionsListsLabel::before {
  background-color: var(--primary-lighten) !important;
}
