.GiftCardPreview {
  border-radius: 10px;
  @media only screen and (min-width: 768px) {
    border-radius: 7px 7px 0 0;
  }
}

.Textarea {
  resize: none;
  font: inherit;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
}

.cardColorSelectorToggler {
  display: block;
  margin-left: auto;
  width: 69px;
  height: 69px;
  margin-top: 24px;
  border-radius: 50% !important;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #0000001a;

  * {
    fill: #6970c6;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}
