.StickyTopBar {
  transition: opacity 0.15s ease;
  will-change: opacity;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  &IsHidden {
    opacity: 0;
  }
}
