.StarWithNumber {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StarWithNumberCount {
  position: absolute;
  color: white;
  line-height: 1;
  font-size: 0.33em;
  margin-top: 0.35em;
}
