.PriceRangeSliderSlider {
  margin-bottom: 9px;
}

.PriceRangeSliderInputs {
  width: 100%;
  display: flex;
  align-items: center;
  > div {
    flex: 45%;
  }
}

.PriceRangeSliderInputsSeparator {
  margin: 29px 3.5px 0;
}
