@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.skill {
  padding: 2.5rem 0;
}

.skill-main-title {
  font-weight: bold;
}

.skill-divider {
  @include underline();
}

.skill-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.skill-section {
  text-align: center;
}

.skill-section-title {
  font-weight: bold;
  margin-bottom: 1.8rem;
}

.skill-section-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.skill-list {
  width: 100%;
}

.skill-list-title {
  @include text(1.25rem);
  margin-bottom: 1.25rem;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.skill-item {
  @include display-flex(center);
  flex-direction: column;
}

.skill-icon {
  @include text(2rem);

  svg {
    filter: drop-shadow(0 1px 2px rgba($highlight-color, .3));
  }
}

.skill-title {
  @include text(1rem);
}

@include tablet {
  .skill-title {
    font-size: 1.125rem;
  }

  .skill-list-title {
    font-size: 1.3rem;
    text-align: start;
  }

  .skill-list {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(min-content, .3fr) 1fr;
  }

  .skill-grid {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  .skill-icon {
    font-size: 3rem;
  }
}

@include desktop {
  .skill-title {
    font-size: 1.25rem;
  }

  .skill-list-title {
    font-size: 1.35rem;
  }

  .skill-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .skill-icon {
    font-size: 4rem;
  }
}