@import '../../styles/breakpoints';
@import '../../styles/variables';
@import '../../styles/mixins';

.skill {
  padding: 2.5rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill-main-title {
  font-weight: bold;
}

.skill-divider {
  @include underline();
  color: white;
  background-color: white;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.skill-item {
  @include display-flex(center);
  flex-direction: column;
}

.skill-icon {
  @include text(2rem);
  color: white;

  svg {
    filter: drop-shadow(0 1px 2px rgba($highlight-color, .3));
  }
}

.skill-title {
  @include text(1rem);
  color: white;
  text-align: center;
}

@include tablet {
  .skill-title {
    font-size: 1.125rem;
  }

  .skill-grid {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }

  .skill-icon {
    font-size: 3rem;
  }
}

@include desktop {
  .skill-title {
    font-size: 1.25rem;
  }

  .skill-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .skill-icon {
    font-size: 4rem;
  }
}