.VideoDetailsForm {
  &Title {
    margin-bottom: 14px;
  }
  &Occasions {
    &Grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 85px);
      grid-auto-rows: 60px;
      gap: 14px 16.25px;
      margin-bottom: 1rem;
    }
    &Item {
      background: #f3f4ff;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      cursor: pointer;

      i,
      p {
        transition: opacity 0.15s;
      }

      p {
        opacity: 0;
        text-align: center;
        width: 90%;
        position: absolute;
        margin: 0;
        font-weight: bold;
        font-size: 12px;
      }

      &:hover {
        i {
          opacity: 0;
        }
        p {
          opacity: 1;
        }
      }
    }
    &Selected {
      border: 2px solid var(--dark);
      background: #ffebf4;
    }
  }

  &Instructions {
    &Label {
      font-size: 14px;
      font-weight: bold;

      span {
        font-weight: normal;
        font-size: 12px;
      }
    }
  }
}
