@import "../../../theme";

.container-contract-checkout-summary {
  display: flex;
  flex-flow: column;

  margin: 0 auto;
  &__celebrity-details {
    justify-content: space-around;
    flex: 0 0 auto;
    display: flex;

    align-items: center;
    margin: 0 auto;
  }
  &__title {
    margin-left: 1rem;
    span {
      font-weight: bold;
      font-size: 26px;
    }
  }

  &__delivery-details {
    display: flex;
    flex-flow: column;
  }
  &__delivery-details > *,
  &__name-user > *,
  &__message-title,
  &__message-content {
    color: #838383;
  }
  &__from-label,
  &__message-title,
  &__to-label {
    font-weight: bold;
  }

  &__message {
    display: flex;
    margin-top: 10px;
    flex-flow: column;
  }

  &__message-content {
    margin-top: 1rem;
  }
}
