.GiftPreviewMain {
  background-size: 100%;
  min-height: calc(100vh - 58px);
}

.Container {
  padding: 42px 0 !important;
  display: flex;
}

.LeftSide {
  width: 357px;
}

.GiftCard {
  height: 100%;
}

.RightSide {
  align-self: flex-start;
  flex: 1;
  margin-left: 35px;
}
