.WhatsappAdForContracts {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.WhatsappAdForContracts span {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 50px;
}

.SubmitButton {
  font-size: 18px;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
}
