.WhatsapAdForContracts {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
  }
}
