.VideoNotificationFormTitle {
  margin-top: 40px;
  margin-bottom: 1em;
}

.VideoNotificationFormPhoneInputContainer {
  margin-bottom: 24px;
}

.VideoNotificationFormRadioWrapper {
  margin-bottom: 36px;
  display: flex;
}

.VideoNotificationFormRadioText {
  font-size: 14px;
  margin-right: 1em;
}

.ContainerPhoneInput {
  margin-bottom: 4px;
}

.FormLabel {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 12px;
}

.FormField {
  outline: none;
  width: 100%;
  padding: 0.625em;
  margin-bottom: 4px;
  height: 45px;
  background: #f9f9ff;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid var(--gray-2);
}

.FormFieldHasError {
  border-color: #ff3844 !important;
  background-color: #ffedf5 !important;
}

.FormError {
  height: 15px;
  justify-content: flex-end;
  margin-bottom: 10px;
  visibility: hidden;
}

.FormErrorIsVisible {
  visibility: visible;
}
