.VideoNotificationFormTitle {
  margin-top: 1rem;
  margin-bottom: 1em;

  @media only screen and (min-width: 576px) {
    margin-top: 40px;
  }
}

.VideoNotificationFormRadioText {
  margin-right: 1em;
}

.VideoNotificationFormRadio {
  margin-top: 1em;

  @media only screen and (max-width: 767px) {
    font-size: 1.125em !important;
  }
}

.ContainerPhoneInput {
  margin-bottom: 4px;
}

.FormLabel {
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 12px;
}

.VideoNotificationFormRadioWrapper {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 576px) {
  .FormLabel,
  .VideoNotificationFormRadioText {
    font-size: 14px;
  }

  .VideoNotificationFormRadio {
    margin-top: 0;
  }

  .VideoNotificationFormRadioWrapper {
    display: flex;
  }

  .VideoNotificationFormPhoneInputContainer {
    margin-bottom: 24px;
  }

  .VideoNotificationFormRadioWrapper {
    margin-bottom: 36px;
  }
}

.FormField {
  outline: none;
  width: 100%;
  padding: 0.625em;
  margin-bottom: 4px;
  height: 45px;
  background: #f9f9ff;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid var(--gray-2);
}

.FormFieldHasError {
  border-color: #ff3844 !important;
  background-color: #ffedf5 !important;
}

.FormError {
  height: 15px;
  justify-content: flex-end;
  margin-bottom: 10px;
  visibility: hidden;
}

.FormErrorIsVisible {
  visibility: visible;
}
