@import "../../../theme";

.CelebritiesPage {

  .display-flex-section {
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
  }

  .filters-section {
    margin-right: 10px;
    display: none;
  }

  .scroll-section {
    width: 100%;
  }
}
