.VideoSlideLayout {
  height: 100%;
  position: relative;

  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover !important;
  }

  &__buttons {
    display: none;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: flex;
    max-height: 160px;
    padding: 0 17% 1.5rem;
    align-items: flex-end;

    @media only screen and (min-width: 576px) {
      padding: 0 7.35rem 1.5rem;
    }

    @media only screen and (min-width: 768px) {
      padding: 0 13rem 1.5rem;
    }

    @media only screen and (min-width: 992px) {
      padding: 0 3rem 1.5rem;
    }

    @media only screen and (min-width: 1200px) {
      padding: 0 4.255rem 1.5rem;
    }

    i {
      color: white;
      font-size: 1.2rem;
      margin-left: 1.25em;
      margin-top: 1.5rem;
    }

    .volume-icon {
      font-size: 1.48rem;
    }
  }
}

.react-resizable .handle-button {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }
}
