.VideoSlideLayout {
  height: 100%;
  position: relative;

  &__media-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__poster,
  &__video {
    height: 100%;
    width: 100%;
    object-fit: cover !important;
  }

  &__overlay {
    height: 100%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 100;
    padding: 2.625rem 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    pointer-events: none;
  }
}

.react-resizable .handle-button {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }
}

.Vertical_Mode {
  object-fit: contain !important;
}
.Landscape_mode {
  object-fit: cover !important;
}
