.CelebrityDetails {
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;

  @media only screen and (min-width: 1024px) {
    max-width: 992px;
  }

  &__flash-delivery-large {
    font-size: 0.85rem;
  }
  .button-hire-this-celebrity {
    font-size: 1.15rem;
    @media screen and (min-width: 320px) {
      font-size: 1.25rem;
    }
  }
}
