@import "../../../constants/breakpoints.scss";

.celebrity-shared-post {
  display: flex;
  border: 1px solid rgb(216, 216, 216);
  width: 100%;
  margin: 0 auto 40px auto;
  border-radius: calc(0.25rem);
  flex-flow: column;
  @media (min-width: $screen-md-min) {
    width: 80%;
  }

  &__user-avatar {
    align-self: start;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    .user-avatar-image {
      height: 30px;
      border: 1px solid #e83e8c;
    }
  }
  &__user-name {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  &__description {
    margin: 20px;
    font-size: 14px;
  }
  &__media-files {
    &__item {
      background-color: rgba(240, 240, 240, 0.192);
      height: 86.06vw;
      max-height: 542px;
      &-image {
        object-fit: cover !important;
        width: 100%;
        height: 100%;
        //  height: 500px;
      }
      &-video {
        object-fit: cover !important;
      }
    }
    &__video-control {
      padding-bottom: 1rem;
      // @media only screen and (min-width: 768px) {
      //   padding: 0 4.8rem 1rem 0;
      // }
      // @media only screen and (min-width: 1440px) {
      //   padding: 0 6rem 1rem 0;
      // }
    }

    &--is-fullscreen {
      .carousel-item {
        height: 100vh !important;
        max-width: 70%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @media only screen and (min-width: 992px) {
      // border-radius: 10px;
      overflow: hidden;
    }
    .carousel {
      &-item {
        //  height: 600px;
      }

      &-indicators {
        margin-bottom: 0;
        top: 0.5rem;
        bottom: unset;

        li {
          width: 0.8rem;
          height: 0.8rem;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          border-radius: 50%;
          background-color: #0000007a;

          @media only screen and (min-width: 576px) {
            height: 0.8rem;
          }

          @media only screen and (min-width: 992px) {
            height: 0.72rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
          }

          @media only screen and (min-width: 1200px) {
            height: 0.8rem;
          }
        }
      }
    }

    [class^="carousel-control-"] {
      opacity: 0.85;
      @media (hover: none) {
        color: white;
        opacity: 1;
      }
    }
    .controls-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 18px;
      height: 30px;
      width: 30px;
      background-color: #0000007a;
      color: rgba(255, 255, 255, 0.589);
    }
  }
  &__media-file {
    // height: 600px;
    &__item-image {
      object-fit: cover !important;
      width: 100%;
      height: 100%;
    }
    &__item-video {
      height: 600px;
      object-fit: contain !important;
    }
  }
}

.post-carousel {
  .carousel-item {
    //  height: 600px;
  }

  .carousel-indicators {
    margin-bottom: 0;
    top: 0.5rem;
    bottom: unset;

    li {
      width: 0.8rem;
      height: 0.8rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      background-color: white;

      @media only screen and (min-width: 576px) {
        height: 0.8rem;
      }

      @media only screen and (min-width: 992px) {
        height: 0.72rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }

      @media only screen and (min-width: 1200px) {
        height: 0.8rem;
      }
    }
  }

  [class^="carousel-control-"] {
    opacity: 0.85;
    @media (hover: none) {
      color: white;
      opacity: 1;
    }
  }
  .controls-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 26px;
    height: 30px;
    width: 30px;
    transition: color 0.15s;
    color: #ffffff96;

    &:hover {
      color: #ffffff;
    }
  }
}
