.SignUpBox {
  max-width: 413px;
}

.SignUpBoxCard {
  background-color: #f8f8f8;
  padding: 32px;
  border-radius: 10px;
}

.AuthProviderButton {
  height: 55px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    height: 45px;
  }
}

.AuthProviderButton + .AuthProviderButton {
  margin-top: 16px;
  margin-bottom: 25px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.SignUpBoxTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
}

.SignUpBoxSwitcher {
  margin-top: 25px;

  @media only screen and (min-width: 576px) {
    text-align: center;
  }
}

.SignUpBoxSwitcher label::after {
  background-color: #fb177d !important;
}

.SignUpBoxSwitcher label::before {
  background-color: #f9cfe2 !important;
  border-color: rgb(254, 185, 216);
}

.SignUpBoxSwitcher label::after,
.SignUpBoxSwitcher label::before {
  opacity: 0.65;
}

.SignUpBoxSwitcher :checked ~ label::before,
.SignUpBoxSwitcher :checked ~ label::after {
  opacity: 1;
}

.SignUpBoxSubmitButton {
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
  height: 60px;

  @media only screen and (min-width: 768px) {
    height: 45px;
  }
}

.SignUpBoxAuthTermsAdvertise {
  max-width: 303px;
  margin: 30px auto 0;
}

@media only screen and (max-width: 767px) {
  .SignUpBoxSwitcher {
    padding-bottom: 1rem;
    padding-left: 2.25rem;

    & label {
      padding-left: 0.75rem;
      padding-top: 0.35rem;

      &::before {
        border-radius: 1rem !important;
        height: 1.5rem !important;
        width: 2.5rem !important;
      }

      &::after {
        border-radius: 0.65rem !important;
        height: calc(1.5rem - 4px) !important;
        width: calc(1.5rem - 4px) !important;
      }
    }

    :checked ~ label::after {
      transform: translateX(1rem);
    }
  }
}

.AlreadyRegisteredText {
  margin-top: 24px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  color: #6970c6;

  a {
    font-weight: bold;
  }

  @media only screen and (max-width: 374px) {
    padding: 0 5%;
  }
}
