.AppLinksBannerContainer {
  display: flex;
  flex-flow: column;
  p {
    color: white;
    font-size: 14px;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img:not(:first-child) {
      margin-left: 18px;
    }
  }
}
