@import '../../../theme.scss';
@import '../../../constants/breakpoints.scss';

.container-subscription-feed{
    min-height: 80vh;
    @media only screen and (max-width: $screen-md-min) {
        padding: 0;
    }
}

.container-not-post-results{
    height: 200px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}