.VideoContractFeed {
  display: flex;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.VideoPlayer {
  margin-right: 1.875rem;
  @media only screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.VideoActionsWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    > * {
      display: none;
    }
  }
}

.ActionButtons {
  display: flex;
  @media only screen and (max-width: 768px) {
    justify-content: center;
    margin-top: 28px;
  }
}

.GoToContractDetailsLink {
  align-self: flex-end;
}

.GoToContractDetailsButton {
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 1;
  padding: 0.25rem 0.625rem;
}
