.VideoContractFeed {
  display: flex;
}

.VideoPlayer {
  margin-right: 1.875rem;
}

.VideoActionsWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.ActionButtons {
  display: flex;
  justify-content: space-between;
}

.GoToContractDetails {
  align-self: flex-end;
  padding: 0.25rem 0.625rem;
}
