.FlashDeliveryAdvertise {
  font-weight: bold;
}

.FlashDeliveryAdvertiseIcon {
  border: 1px solid #dedede;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}

.FlashDeliveryAdvertiseIcon i {
  font-size: 13px !important;
}
