.SearchBarHomePage{
    display: flex;
    flex-flow: column;
    align-items: center;
    p{
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;        
    }
}