@import "../../../theme";

.FiltersSectionLayout {
  position: relative;
  top: 60px;
  width: 100vw;
  height: 80px;
  background-color: $dark;

  .navbar-1240 {
    max-width: $width-1240;
    margin: 0 auto;
  }

  .filters-section {
    width: 100%;
    max-width: $width-1240;;
    align-items: flex-start;
    height: 80px;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: none;
    padding: 8.5px;
    display: block;
    text-align: left;

    .helper-div{
      display: inline-block;
    }

    .filter-option {
      display: inline-block;
      margin-right: 6px;
      margin-left: 6px;
      margin-top: 14px;
      color: white;
      border: solid 1px white;
      border-radius: 20px;
      padding: 8px;
      font-size: 12px;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: $dark;
      }

      &:active, &:focus {
        cursor: pointer;
        background-color: $dark;
        color: white;
      }
    }

    .filter-option-selected {
      background-color: white;
      color: $dark;
      margin-left: 0;
      *{
        color: $dark;
      }
    }

    .divider {
      display: inline-block;
      border: solid 1px white;
      height: 20px;
      top: 6px;
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
    }


  }

}
