.CelebrityInfo {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}
.CelebrityAvatar {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.CelebrityName {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0em;
  text-decoration: none;
  color: black;
}
