.CelebrityInfo {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}
.CelebrityAvatar {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.CelebrityName {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0em;
  text-decoration: none;
  color: black;
}
