//styles.scss
@import "theme";
@import "~bootstrap/scss/bootstrap";


html,body,input,b, h1, h2,h3,h4,h5,h6,small,span,p,textarea,label,div,a,section,header {
  font-family: 'Avenir Next LT Pro Regular', sans-serif !important;
}

* {
  color: $dark;
}
.cursor-pointer {
  cursor: pointer;
}

b {
  font-weight: bold !important;
}

.f-main-padding {
  margin-left: 3vw;
  margin-right: 3vw;
}

@media (max-width: 768px) {
  .f-main-padding {
    margin-top: 0vh;
  }
}

@media (min-width: 768px) {
  .f-main-padding {
    //margin-top: 6vh;
  }
}

.f-shadow {
  box-shadow: 0 0rem 0.4rem #a1a1a1 !important
}

.f-rounded {
  border-radius: 0.5rem !important;
}

.fade.modal-backdrop.show{
  z-index: 200000;
}
.fade.modal.show{
  z-index: 200000;
}

.modal-content {

  z-index: 200000;
  position: absolute;
  zoom: 80%;
  max-width: 800px;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);

  .modal-header {
    background-color: $dark !important;
    color: white;
    width: 80%;
    border-radius: 0px 0px 20px 0;
    padding: 10px;
    text-transform: uppercase;

    .close-button {
      position: absolute;
      background: white;
      right: 10px;
      border-radius: 10px;
      font-size: 15px;
      color: $dark;
    }
  }

  .modal-body {
    padding: 25px;
  }

  .radio {
    label {
      font-size: 12px;
    }
  }

  input, textarea {
    border: 2px solid $dark !important;
  }

  input[type='radio'] {
    border: 2px solid $dark !important;
  }

  .switch-label {
    top: -10px;
    position: relative;
    margin-left: 5px;
  }

}

.slick-initialized .slick-slide {
  padding: 10px;
  margin-right: -3px !important;
  max-width: 220px;
}

.text-main-color-gray {
  color: $main-color-gray;
}

.text-main-color-golden {
  color: $main-color-golden;
}

.text-main-color-yellow {
  color: $main-color-yellow;
}

.text-main-color-pink {
  color: $main-color-pink;
}

.text-main-color-blue {
  color: $main-color-blue;
}

.dropdown-menu {
  right: auto !important;
  left: auto !important;
}


/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.dropdown-menu {
  font-size: 12px;
}

.dropdown-menu.show {
  display: block;
  right: 0 !important;
  left: 30%;
}

.btn-group.open.show {
  .btn.dropdown-toggle {
    background-color: $light;
  }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

div.StripeCardForm {
  border: solid 2px !important;
  border-radius: 0.25rem;
}

button.contract-button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  color: white;
  border-radius: 20px;
  background-color: $primary;
  border: solid 3px;
  padding: 5px 40px;
  width: 320px;
  max-width: 100%;
  background-size: 280px;
  font-weight: bold;
  text-transform: uppercase;
  //background-image: url("/assets/img/Pattern-Fiesta.png"), linear-gradient(180deg, #F9EF7F 0%, #E1BC29 100%);
}

/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls {
  opacity: 0 !important;
}

video {
  &::-webkit-media-controls {
    display: none !important;
  }

  &::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
  }
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */
*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */
/* This one works */
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

video {
  &::-webkit-media-controls {
    display: none !important;
  }

  &::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
  }
}

.media-controls-container {
  display: none !important;

  .media-controls.inline.ios.uses-ltr-user-interface-layout-direction {
    display: none !important
  }

}

.media-controls.inline.ios.uses-ltr-user-interface-layout-direction {
  display: none !important
}

.search-sm-active{
  margin-top: 45px;
}

.dv-star-rating-star{
  margin-right: 5px;
  margin-bottom: 0;
}

.text-soft-grey {
  color: $soft-grey !important;
}

.btn-outline-success{
  span{
    color: $text-success !important;
  }
  i{
    color: $text-success !important;
  }
  &:hover {
    span{
      color: white !important;
    }
    i{
      color: white !important;
    }
  }
}

.dv-star-rating-star.dv-star-rating-full-star{
  i{
    color: rgb(255, 180, 0);
  }
}

.send-button {
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: $primary;
  border-color: $primary;
}

input, select {
  height: 45px !important;
}
