// MAIN COLORS
$main-color-gray: #21252F;
$main-color-golden: #D5AC31;
$main-color-yellow: #ECD74B;
$main-color-pink: #E30368;
$main-color-blue: #488ACE;
$main-color-soft-purple: #E0F0Fe;

$active: #ffcc58;
$primary: #f01e7c;
$dark: #555;
$secondary: #02bceb;
$purple: rgba(0, 220, 198, 0.05);

$theme-colors: (

);

// PADDINGS

