// MAIN COLORS
$main-color-gray: #21252F;
$main-color-golden: #D5AC31;
$main-color-yellow: #ECD74B;
$main-color-pink: #E30368;
$main-color-blue: #488ACE;
$main-color-soft-purple: #E0F0Fe;

$active: #ffcc58;
$primary: #EB2A7B;
$dark: #303542;
$secondary: #02bceb;
$muted: red;
$purple: rgba(0, 220, 198, 0.05);
$soft-grey: #8d9cc1;

$theme-colors: (
);

// PADDINGS

