.CustomizeGiftCard {
  background: #fff8fb;
  border-radius: 7px;
  padding: 20px 30px 32px;
}

.Hidden {
  transition: opacity 0.5s;
  opacity: 0;
}

.Title,
.CustomizeGiftText {
  max-width: 300px;
}

.Title {
  font-size: 24px !important;
  margin-bottom: 0.6em;
}

.CustomizeGiftText {
  font-size: 12px;
  margin-bottom: 26px;
}

.CTAButton {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 52px;
}
