.EditorForm {
  border: 1px solid #e6e6e6;
  border-radius: 7px;
}

.EditorForm .GiftCardPreview {
  border-radius: 7px 7px 0 0;
}

.TitleEditToggler {
  font-size: 14px;
  margin-top: 16.3px;
  margin-left: -0.75rem;
  color: var(--tertiary, #3d87f3);
  font-weight: bold;

  &:hover {
    color: var(--secondary, #6970c6);
  }
}

.FormFields {
  padding: 22px 26px 32px;
  height: 380px;
}

.FieldTitle {
  font-size: 16px !important;
  margin-bottom: 1em;
}

.FormButtons {
  display: flex;
  margin-top: 28px;
}

.FormButtons > * {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
}

.FormButtons > * + * {
  margin-left: 18px;
}
