.BooleanRadiosInputs {
  font-size: 12px;
  display: flex;
  flex-direction: column;

  .BooleanRadiosInputsLabel {
    margin-bottom: 0.5em;
  }
}

.BooleanRadiosInputsInline {
  align-items: center;
  flex-direction: row;

  .BooleanRadiosInputsLabel {
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 0;
  }
}

.BooleanRadiosInputsLabel {
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 0;
  font-weight: bold;
}

.BooleanRadiosInputsLabel i {
  color: var(--gray-2);
  font-size: 1.416em;
  margin-right: 0.70625em;
  transition: color 0.15s;
}

.BooleanRadiosInputsLabelChecked.BooleanRadiosInputsLabelChecked {
  color: black;
}
