.TopBar {
  background-color: var(--dark);

  &Search {
    background-color: #323232;
    height: 32px;
    width: 324px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 0.875rem;

    &Input {
      flex: 1;
      font-size: 0.85em;
      height: auto !important;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      background: none;
      color: var(--light);
    }

    &Icon {
      margin-left: 0.5em;
      color: var(--light);
      transition: 0.15s ease all;
    }

    &:focus-within {
      .TopBarSearchIcon {
        color: var(--primary);
      }
    }
  }
}
