.PaymentSecureBanner {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 50%;
}

.PaymentSecureBannerDiv {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

.DisclaimerTermsAndPolicies {
  margin: 5px auto 0;
  font-size: 8px;
  width: 28.125em;
  text-align: center;
}

.contacto {
  margin-top: 0.75rem;
  text-align: center;
  font-size: 14px;
}

.contacto a {
  text-decoration: none;
  color: rgb(81, 81, 252);
  font-weight: bold;
}
