.CelebrityInfo {
  &__full-name {
    font-weight: bold;
    font-size: 22px !important;
    line-height: 26px;
    color: black;
  }

  &__contract-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: black;
  }

  &__contract-price--invalid {
    margin-right: 1em;
    font-size: 14px;
    text-decoration: line-through;
  }

  &__contract-price-discount {
    font-size: 18px;
    color: #fb177d;
  }

  &__fav-button-desktop {
    float: right;
    margin-top: -0.2rem;
  }
}

.CelebrityInfo__category {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: black;

  &:hover {
    color: black;
  }
}

.CelebrityInfo__response-time * {
  font-size: 16px !important;
  color: #8d8d8d;
}

.CelebrityInfo__response-time-2 * {
  font-size: 14px !important;
}

.CelebrityInfo__response-time-2 > * + * {
  margin-left: 1em;

  @media only screen and (max-width: 409px) {
    display: block;
    margin-left: 0;
    margin-top: 0.5em;
  }
}

.CelebrityInfo__response-time-2 > span + span,
.CelebrityInfo__response-time-2 > span + span * {
  color: #8d8d8d;
}

.CelebrityInfo__response-time-2 br {
  display: none !important;
}

.CelebrityInfo__ShareCelebrityDropdown {
  margin-left: auto;
}
.CelebrityInfo__ShareCelebrityDropdown i {
  font-size: 17.75px;
}

.CelebrityInfo__CelebrityFavoriteButton {
  margin-left: 1rem;
}
