.CelebrityInfo {
  &__full-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: black;
  }

  &__category {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  &__contract-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: black;
  }

  &__contract-price--invalid {
    margin-right: 1em;
    font-size: 14px;
    text-decoration: line-through;
  }

  &__contract-price-discount {
    font-size: 18px;
    color: #fb177d;
  }

  &__fav-button-desktop {
    float: right;
    margin-top: -0.2rem;
  }
}
