.ContractIsPublicChanger {
  display: flex;
}

.ContractIsPublicChangerText {
  margin-right: 20px;
  font-size: 12px;
}

.ContractIsPublicChangerNotEditable label,
.ContractIsPublicChangerIsLoading label {
  cursor: default;
}

.ContractIsPublicChangerIsLoading label {
  opacity: 0.7;
}
