.CreateContractWizard {
  margin-top: 25px;
  margin-bottom: 21px;
  width: 461px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 30px 36px 42px;
}

.CreateContractWizardSkeleton span {
  line-height: 1;
}

.RedirectToLoginAdvertiser {
  font-size: 12px;
  color: var(--gray-4);
  margin-bottom: 0;
  text-align: center;
  margin-top: 0.5em;
}

.ErrorMessage {
  margin-top: 1em;
  font-size: 14px;
  justify-content: center;
}
